<style lang="scss" scoped></style>

<template>
  <div class="wrapper flex flex-col items-center p-5 min-h-screen max-h-screen">
    <div class="flex flex-row justify-between w-full">
      <p class="text-xs mb-0 pr-2">
        <span class="font-bold">Objective</span> Find who the Spy is!
      </p>
      <div
        class="text-sm bg-red-200 p-2 rounded flex flex-row items-center text-red-800"
        @click="restart('home')"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
    </div>
    <div
      class="flex flex-col justify-between w-full flex-grow"
      v-if="phase === 'lobby'"
    >
      <div
        class="flex flex-col flex-grow w-full justify-center items-center text-center"
      >
        <p class="mb-2 text-md">
          For <b>{{ timeLimit / 60 }} minutes</b>, take turn asking
          <b>{{ mode === "yesno" ? "Yes or No" : "Any" }}</b>
          questions about Roles and Location.
        </p>
        <p class="mb-5 text-md">
          The last player who answered the question will ask question to a
          different player.
        </p>
      </div>
      <div class="flex flex-col w-full text-center">
        <p class="mb-2">
          Start Discussion from
          <span class="font-bold">{{ leader.name }}</span>
        </p>
        <div class="flex flex-row w-full">
          <p
            class="bg-green-600 p-3 text-white rounded font-bold w-full"
            @click="start"
          >
            Start Discussion
          </p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col w-full text-center flex-grow justify-center"
      v-if="phase === 'discuss'"
    >
      <p class="mb-5">
        <b>{{ timeLimit / 60 }} minutes</b> discussion time
      </p>
      <p class="mb-2 text-xl font-bold">{{ time | myTime }}</p>
      <p class="bg-green-600 text-white p-1 rounded mb-1" @click="addTime(60)">
        Add 1 Minute
      </p>
      <p @click="redo">Restart</p>
      <div
        @click="nextQuestion"
        class="bg-gray-200 p-2 rounded mt-10 h-32 flex flex-col justify-center"
      >
        <p class="text-sm text-gray-600">
          {{ mode === "yesno" ? "Yes or No" : "Free" }} Questions Inspiration
        </p>
        <p class="text-lg">{{ question }}</p>
        <p class="text-xs text-gray-600">Tap to cycle</p>
      </div>
    </div>
    <div
      class="flex flex-col w-full text-center flex-grow justify-center"
      v-if="phase === 'vote'"
    >
      <p class="mb-2">Find who the spy is!</p>
      <p
        class="bg-blue-600 text-white rounded mb-2 p-2"
        v-for="(item, index) in players"
        :key="index"
        @click="vote(item)"
      >
        {{ item.name }}
      </p>
    </div>
    <div
      class="flex flex-col w-full text-center flex-grow justify-center"
      v-if="phase === 'end'"
    >
      <p
        class="mb-4 text-xl font-bold text-green-600"
        v-if="track.result === 'nonspies'"
      >
        The Non Spies Wins!
      </p>
      <p
        class="mb-4 text-xl font-bold text-red-600"
        v-if="track.result === 'spies'"
      >
        The Spies Win!
      </p>
      <p
        class="bg-green-600 p-4 text-white rounded mb-1"
        @click="restart('again')"
      >
        Play Again
      </p>
      <p
        class="bg-blue-600 p-4 mb-4 text-white rounded"
        @click="restart('home')"
      >
        Return Home
      </p>
    </div>
    <div
      class="flex flex-col w-full text-center flex-grow justify-center"
      v-if="phase === 'guess'"
    >
      <p class="mb-4 text-xl font-bold">
        The <span class="text-green-500">Non-Spies</span> win. But
        <span class="text-red-500">Spy</span> can guess where the location is.
      </p>
      <div class="flex flex-col flex-grow overflow-y-scroll">
        <p
          class="bg-blue-600 text-white rounded mb-2 p-2"
          v-for="(item, index) in locations"
          :key="index"
          @click="guess(item)"
        >
          {{ item }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Mission",
  components: {},
  created: function() {},
  data: function() {
    return {
      time: 0,
      discuss: "",
      questionCount: 0,
      questionTimer: ""
    };
  },
  filters: {
    myTime: function(time) {
      var hr = ~~(time / 3600);
      var min = ~~((time % 3600) / 60);
      var sec = time % 60;
      var sec_min = "";
      if (hr > 0) {
        sec_min += "" + hrs + ":" + (min < 10 ? "0" : "");
      }
      sec_min += "" + min + ":" + (sec < 10 ? "0" : "");
      sec_min += "" + sec;
      return sec_min;
    }
  },
  computed: {
    track: function() {
      return this.$store.getters["spyfall/track"];
    },
    players: function() {
      return this.$store.getters["spyfall/players"];
    },
    locations: function() {
      return this.$store.getters["spyfall/locations"];
    },
    leader: function() {
      return this.players[this.track.leader];
    },
    phase: function() {
      return this.track.phase;
    },
    timeLimit: function() {
      return this.$store.getters["spyfall/timeLimit"];
    },
    mode: function() {
      return this.$store.getters["spyfall/setting"].mode;
    },
    questions: function() {
      return this.$store.getters["spyfall/rules"].questions[this.mode];
    },
    question: function() {
      return this.questions[this.questionCount];
    }
  },
  methods: {
    nextQuestion: function() {     
      if (this.questionCount === this.questions.length - 1) {
        this.questionCount = 0;
        return;
      }
      this.questionCount += 1;
    },
    addTime: function(time) {
      this.$store.commit("spyfall/setting", {
        type: "ADD TIME",
        payload: { time }
      });
    },
    redo: function() {
      this.$store.commit("spyfall/track", {
        type: "REDO"
      });
      this.time = 0;
      clearInterval(this.discuss);
      clearInterval(this.questionTimer);
    },
    start: function() {
      let self = this;
      self.$store.commit("spyfall/track", {
        type: "START"
      });

      this.questionTimer = setInterval(x => {
        this.nextQuestion();
      }, 5000);

      this.discuss = setInterval(x => {
        this.time += 1;
        if (this.time === this.timeLimit) {
          clearInterval(this.discuss);
          clearInterval(this.questionTimer);
          self.$store.commit("spyfall/track", {
            type: "VOTE"
          });
        }
      }, 1000);
    },
    vote: function(item) {
      console.log(item);
      this.$store.commit("spyfall/vote", { type: "VOTE", id: item.id });
    },
    restart: function(value) {
      if (value === "again") {
        this.$router.push("/spyfall");
      }
      if (value === "home") {
        this.$router.push("/");
      }
    },
    guess: function(item) {
      this.$store.commit("spyfall/guess", { location: item });
    },
    change: function() {
      this.$store.commit("spyfall/change");
    }
  }
};
</script>
