<style lang="scss" scoped></style>

<template>
  <div
    class="wrapper flex flex-col items-center p-5 justify-between min-h-screen max-h-screen"
  >
    <div class="flex flex-row justify-between w-full items-center">
      <b>Spyfall</b>
      <div
        class="text-sm bg-red-200 p-2 items-center rounded flex flex-row items-center text-red-800"
        @click="restart('home')"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
    </div>
    <div class="flex flex-col w-full items-center flex-grow justify-center">
      <p class="text-xl font-bold">{{ players.length }} Players</p>
      <div class="flex flex-row justify-between w-full mb-2">
        <p class="text-lg font-bold text-green-600 mb-1">
          {{ players.length - spies }} Non-Spies
        </p>
        <p class="text-lg font-bold text-red-600 mb-1">{{ spies }} Spies</p>
      </div>
      <div class="mb-2 flex flex-row items-center">
        <i
          class="fa fa-minus-circle text-red-600"
          aria-hidden="true"
          @click="changeSpies('reduce')"
        ></i>
        <p class="px-5">{{ spies }} Spies</p>
        <i
          class="fa fa-plus-circle text-green-600"
          aria-hidden="true"
          @click="changeSpies('add')"
        ></i>
      </div>
      <div class="mb-2 w-full flex flex-col items-center">
        <p class="mb-2 text-sm font-bold">Discussion Time</p>
        <div class="flex flex-row justify-between w-full">
          <span
            :class="
              timeLimit === 60
                ? 'text-xs bg-green-600 p-1 rounded text-white'
                : 'text-xs bg-green-200 p-1 rounded text-green-800'
            "
            @click="setTime(60)"
            >1 Minute</span
          >
          <span
            :class="
              timeLimit === 180
                ? 'text-xs bg-green-600 p-1 rounded text-white'
                : 'text-xs bg-green-200 p-1 rounded text-green-800'
            "
            @click="setTime(180)"
            >3 Minutes</span
          >
          <span
            :class="
              timeLimit === 300
                ? 'text-xs bg-green-600 p-1 rounded text-white'
                : 'text-xs bg-green-200 p-1 rounded text-green-800'
            "
            @click="setTime(300)"
            >5 Minutes</span
          >
          <span
            :class="
              timeLimit === 600
                ? 'text-xs bg-green-600 p-1 rounded text-white'
                : 'text-xs bg-green-200 p-1 rounded text-green-800'
            "
            @click="setTime(600)"
            >10 Minutes</span
          >
        </div>
      </div>
      <div class="mb-2 w-full flex flex-col items-center">
        <p class="mb-2 text-sm font-bold">Game Mode</p>
        <div class="flex flex-row justify-around w-full">
          <span
            :class="
              mode === 'yesno'
                ? 'text-xs bg-green-600 p-1 rounded text-white'
                : 'text-xs bg-green-200 p-1 rounded text-green-800'
            "
            @click="setMode('yesno')"
            >Yes / No</span
          >
          <span
            :class="
              mode === 'free'
                ? 'text-xs bg-green-600 p-1 rounded text-white'
                : 'text-xs bg-green-200 p-1 rounded text-green-800'
            "
            @click="setMode('free')"
            >Free</span
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full items-center">
      <p
        class="bg-green-600 p-4 text-white rounded w-full text-center mb-2"
        @click="start"
      >
        Start Game
      </p>
    </div>
    <div class="flex flex-col w-full items-center">
      <p
        class="bg-blue-600 p-4 text-white rounded w-full text-center"
        @click="$router.push('/players')"
      >
        Add Players
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Players",
  components: {},
  created: function() {},
  data: function() {
    return {
      name: ""
    };
  },
  computed: {
    players: function() {
      return this.$store.getters["players/players"];
    },
    timeLimit: function() {
      return this.$store.getters["spyfall/setting"].setTimeLimit;
    },
    spies: function() {
      return this.$store.getters["spyfall/setting"].spies;
    },
    mode: function() {
      return this.$store.getters["spyfall/setting"].mode;
    }
  },
  methods: {
    changeSpies: function(type) {
      if (type === "add") {
        this.$store.commit("spyfall/setting", {
          type: "ADD SPIES",
          payload: {
            players: this.players.length
          }
        });
      } else {
        this.$store.commit("spyfall/setting", {
          type: "REDUCE SPIES"
        });
      }
    },
    setTime(time) {
      this.$store.commit("spyfall/setting", {
        type: "TIME",
        payload: {
          time
        }
      });
    },
    setMode(mode) {
      this.$store.commit("spyfall/setting", {
        type: "MODE",
        payload: {
          mode
        }
      });
    },
    start: function() {
      this.$store.commit("spyfall/shuffle", {
        players: this.$store.getters["players/players"]
      });
      this.$router.push("/spyfall/reveal");
    },
    restart: function() {
      this.$router.push("/");
    }
  }
};
</script>
