<style lang="scss" scoped></style>

<template>
  <div
    class="wrapper flex flex-col items-center p-5 justify-center min-h-screen"
  >
    <div class="flex flex-row justify-between w-full items-center">
      <b>Spyfall</b>
      <div
        class="text-sm bg-red-200 p-2 items-center rounded flex flex-row items-center text-red-800"
        @click="restart('home')"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
    </div>
    <div class="flex flex-col w-full flex-grow items-center justify-center">
      <h1 class="text-xl font-bold mb-2">{{ player.name }}</h1>
      <div class="flex flex-col w-full text-center" v-if="!reveal">
        <p class="mb-4">Don't let others see</p>
        <p
          class="bg-blue-600 p-4 text-white rounded font-bold"
          @click="revealRole"
        >
          Reveal Role
        </p>
      </div>
      <div class="flex flex-col w-full text-center" v-if="reveal">
        <div class="mb-4" v-if="player.team === 'nonspies'">
          <p>
            The Location is
            <span class="text-green-500 font-bold">{{
              track.location | ucFirst
            }}</span>
          </p>
          <p>
            You are a
            <span class="text-green-500 font-bold">{{
              player.role | ucFirst
            }}</span>
          </p>
        </div>
        <div class="mb-4" v-if="player.team === 'spies'">
          <p>You are a <b class="text-red-500">Spy!</b></p>
        </div>
        <p
          class="bg-blue-600 p-4 text-white rounded font-bold"
          v-if="counter === 0"
          @click="next"
        >
          {{
            players.length - 1 === current
              ? "Start Game!"
              : "Tap then pass on to next player"
          }}
        </p>
        <p
          class="bg-gray-600 p-4 text-white rounded font-bold"
          v-if="counter !== 0"
        >
          Please wait for {{ counter }} seconds
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Reveal",
  components: {},
  created: function() {},
  data: function() {
    return {
      current: 0,
      reveal: false,
      counter: 3
    };
  },
  filters: {
    ucFirst: function(lower) {
      const upper = lower.charAt(0).toUpperCase() + lower.substring(1);
      return upper;
    }
  },
  computed: {
    player: function() {
      return this.players[this.current];
    },
    players: function() {
      return this.$store.getters["spyfall/players"];
    },
    track: function() {
      return this.$store.getters["spyfall/track"];
    }
  },
  methods: {
    revealRole: function() {
      this.reveal = true;
      let self = this;
      let count = setInterval(x => {
        self.counter -= 1;
        if (self.counter === 0) {
          clearInterval(count);
        }
      }, 1000);
    },
    next: function() {
      if (this.current < this.players.length - 1) {
        this.current += 1;
        this.reveal = false;
        this.counter = 3;
      } else {
        this.$router.push("/spyfall/mission");
      }
    },
    restart: function(value) {
      if (value === "again") {
        this.$router.push("/spyfall");
      }
      if (value === "home") {
        this.$router.push("/");
      }
    }
  }
};
</script>
