<style lang="scss" scoped>
</style>

<template>
  <div class="wrapper flex flex-col items-center p-5 justify-center min-h-screen overflow-y-scroll">
    <h1 class="text-xl font-bold mb-4">The Resistancce</h1>
    <p
      class="text-sm mb-2"
    >The Resistance: Avalon is the game of hidden loyalty. Players are either Loyal Servants of Arther fighting for Goodness and honor or aligned with the Evil ways of Mordred.</p>
    <p
      class="text-sm mb-2"
    >Good wins the game by successfully completing three Quests. Evil wins if three Quests end in failure. Evil can also win by assassinating Merlin at game's end or if a Quest cannot be undertaken.</p>
    <p
      class="text-sm mb-3"
    >Players may make any claims during the game, at any point in the game. Discussion, deception, accusation, and logical deducation are all equally important in order for Good to prevail or Evil to rule the day.</p>
    <p class="bg-blue-600 p-2 rounded text-white text-sm" @click="$router.push('/')">Back Home</p>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {}
};
</script>
