<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.mission {
  width: 20%;
  padding: 2px;
  .l--circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    // background: #439ee0;
  }
}
.avatar {
  height: 25px;
  width: 25px;
  .l--circle {
    background: #e6e4e4;
    border-radius: 50%;
    padding: 1px;
  }
  .l--chosen {
    background: #66f061;
    padding: 1px;
    border-radius: 50%;
  }
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-0">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Discussion Phase</p>
      </div>
    </div>
    <div class="section flex flex-col flex-grow">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Choose Player to Eliminate</p>
      </div>
      <div class="flex flex-row flex-wrap">
        <div
          :class="
            checkElected(item)
              ? 'flex flex-row items-center w-6/12 p-2 border border-green-500 rounded mb-1'
              : 'flex flex-row items-center w-6/12 p-2 border border-white mb-1'
          "
          v-for="(item, n) in alive"
          :key="n"
          @click="elect(item)"
        >
          <div class="avatar">
            <img class="l--circle" :src="item.avatar" />
          </div>
          <p class="px-2">{{ item.name }}</p>
        </div>
      </div>
    </div>
    <div class="section flex flex-col flex-grow">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Eliminated Players</p>
      </div>
      <div class="flex flex-row flex-wrap">
        <div
          class="flex flex-row items-center w-6/12 p-2 border border-white mb-1"
          v-for="(item, n) in eliminated"
          :key="n"
        >
          <div class="avatar">
            <img class="l--circle" :src="item.avatar" />
          </div>
          <p class="px-2">{{ item.name }}</p>
        </div>
      </div>
    </div>
    <div class="section flex flex-col">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Instructions</p>
      </div>
      <div class="flex flex-row flex-wrap text-lg">
        <p class="pr-2">Start from</p>
        <div class="avatar">
          <img class="l--circle" :src="leader.avatar" />
        </div>
        <p class="pl-1">
          <b>{{ leader.name }}</b>
        </p>
      </div>
    </div>
    <div class="section flex flex-row w-full self-end" v-if="isLeader">
      <div class="w-full p-2">
        <div
          class="btn--join flex flex-col justify-center rounded-20 font-bold"
          @click="eliminate"
        >
          <p>Eliminate</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    players: function() {
      return this.$store.getters["undercover/players"];
    },
    alive: function() {
      return this.players.filter(x => x.eliminated === false);
    },
    eliminated: function() {
      return this.players.filter(x => x.eliminated === true);
    },
    track: function() {
      return this.$store.getters["undercover/track"];
    },
    elected: function() {
      return this.$store.getters["undercover/elected"];
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    leader: function() {
      return this.players[this.track.leader];
    },
    isLeader: function() {
      let leader = this.players[this.track.leader];
      if (this.profile.status === "host") {
        if (leader.status === "host" || leader.status === "offline") {
          return true;
        }
      }
      if (this.profile.status === "participant") {
        console.log(this.profile);
        if (leader.id === this.profile.id) {
          return true;
        }
      }
      return false;
    }
  },
  methods: {
    elect: function(item) {
      console.log(item);
      this.$store.commit("undercover/elect", {
        id: item.id
      });
    },
    checkElected: function(item) {
      if (item.id === this.elected) {
        return true;
      }
      return false;
    },
    eliminate: function() {
      this.$store.commit("undercover/eliminate");      

      this.$store.commit("base/route", {
        route: "result"
      });
    },
    changeLeader: function() {
      this.$store.commit("avalon/changeLeader");

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "track",
        data: this.$store.getters["avalon/track"]
      });
      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "voters",
        data: this.$store.getters["avalon/voters"]
      });
    }
  }
};
</script>
