<style lang="scss" scoped>
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Edit Mode</p>
      </div>
    </div>
    <div class="section flex flex-col flex-grow mb-4">
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Villagers</p>
        <p class="bg-green-600 px-2 py-1 rounded text-white text-xs">
          {{ totalPlayers }}
        </p>
      </div>      
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Werewolf</p>
        <div class="flex flex-row">
          <p
            class="bg-gray-500 px-2 py-1 rounded text-white text-xs ml-1"
            @click="toggleRole('werewolf', 'subtract')"
          >
            <i class="fa fa-minus" aria-hidden="true"></i>
          </p>
          <p class="bg-red-600 px-2 py-1 rounded text-white text-xs ml-1">
            {{ roles.werewolf }}
          </p>
          <p
            class="bg-gray-500 px-2 py-1 rounded text-white text-xs ml-1"
            @click="toggleRole('werewolf', 'add')"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Doctor</p>
        <div class="flex flex-row">
          <p
            class="bg-gray-500 px-2 py-1 rounded text-white text-xs ml-1"
            @click="toggleRole('doctor', 'subtract')"
          >
            <i class="fa fa-minus" aria-hidden="true"></i>
          </p>
          <p class="bg-red-600 px-2 py-1 rounded text-white text-xs ml-1">
            {{ roles.doctor }}
          </p>
          <p
            class="bg-gray-500 px-2 py-1 rounded text-white text-xs ml-1"
            @click="toggleRole('doctor', 'add')"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Seer</p>
        <div class="flex flex-row">
          <p
            class="bg-gray-500 px-2 py-1 rounded text-white text-xs ml-1"
            @click="toggleRole('seer', 'subtract')"
          >
            <i class="fa fa-minus" aria-hidden="true"></i>
          </p>
          <p class="bg-red-600 px-2 py-1 rounded text-white text-xs ml-1">
            {{ roles.seer }}
          </p>
          <p
            class="bg-gray-500 px-2 py-1 rounded text-white text-xs ml-1"
            @click="toggleRole('seer', 'add')"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="section flex flex-col w-full self-end" v-if="isHost">
      <div
        class="btn--join flex flex-col justify-center rounded-20 mb-2"
        @click="start"
      >
        <p>Start</p>
      </div>
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="chooseGame"
      >
        <p>Choose Game</p>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    rules: function() {
      return this.$store.getters["werewolf/rules"];
    },
    roles: function() {
      return this.$store.getters["werewolf/roles"];
    },
    players: function() {
      return this.$store.getters["werewolf/players"];
    },
    totalPlayers: function() {
      return this.players.length - this.roles.werewolf - this.roles.doctor - this.roles.seer;
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    toggleRole: function(role, type) {
      if (this.isHost) {
        this.$store.commit("werewolf/role", {
          role: role,
          type: type
        });

        //Network
        // this.$socket.emit("broadcast", {
        //   type: "sync",
        //   id: this.room,
        //   game: "avalon",
        //   syncType: "roles",
        //   data: this.$store.getters["avalon/roles"]
        // });
      }
    },
    start: function() {
      this.$store.commit("werewolf/shuffle");
      // this.$router.push('/reveal')
      this.$store.commit("base/route", {
        route: "reveal"
      });

      //Network
    },
    chooseGame: function() {
      this.$store.commit("base/game", {
        game: "none"
      });
      this.$store.commit("base/route", {
        route: "game"
      });
    }
  }
};
</script>
