<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Result</p>
      </div>
    </div>
    <div
      class="section flex flex-col items-center justify-center flex-grow mb-4"
    >
      <p>Someone Killed Last Night!</p>
      <p class="font-bold">
        {{ player.name }} is
        {{ player.role }}
      </p>
    </div>
    <div class="section flex flex-col w-full self-end">
      <div
        v-if="isHost"
        class="btn--join flex flex-col justify-center rounded-20 mb-2"
        @click="nextMission"
      >
        <p>Continue</p>
      </div>
      <div
        v-if="!isHost"
        class="btn--join flex flex-col justify-center rounded-20 mb-2"
      >
        <p>Please wait for Host</p>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    players: function() {
      return this.$store.getters["werewolf/players"];
    },
    elected: function() {
      return this.$store.getters["werewolf/elected"];
    },
    player: function() {
      console.log(this.elected);
      return this.players.filter(x => x.id === this.track.killed)[0];
    },
    track: function() {
      return this.$store.getters["werewolf/track"];
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    nextMission: function() {
      if (this.track.result === "") {
        this.$store.commit("base/route", {
          route: "day"
        });
        return;
      }
      if (this.track.result !== "") {
        this.$store.commit("base/route", {
          route: "end"
        });
        return;
      }

      this.$store.commit("base/route", {
        route: "mission"
      });
      return;
    }
  }
};
</script>
