<style lang="scss" scoped>
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.avatar {
  padding: 5px;
  width: 200px;
  height: 200px;
  .l--circle {
    border: 2px solid #bbb;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 50%;
  }
  .l--chosen {
    border: 2px solid #66f061;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 50%;
  }
}
.avatar__small {
  height: 25px;
  width: 25px;
  .l--circle {
    border: 1px solid #e6e4e4;
    background: #e6e4e4;
    border-radius: 50%;
    padding: 1px;
  }
  .l--chosen {
    border: 1px solid #66f061;
    background: #e6e4e4;
    padding: 1px;
    border-radius: 50%;
  }
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-colmb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Reveal Phase</p>
      </div>
    </div>

    <div
      class="flex flex-col w-full items-center flex-grow justify-center"
      v-if="phase === 'start'"
    >
      <p class="font-bold text-lg mb-2">The Night has come</p>
      <p
        class="btn--join flex flex-col justify-center rounded-20 w-full"
        @click="phase = 'middle'"
      >
        Start
      </p>
    </div>

    <!-- Middle -->
    <div v-if="phase === 'middle'" class="flex flex-col w-full flex-grow">
      <div
        class="section flex flex-col flex-grow mb-4 items-center justify-center"
      >
        <p class="font-bold text-lg">{{ player.name }}</p>
        <div class="avatar mb-4">
          <img class="l--circle" :src="player.avatar" />
        </div>
        <div class="flex flex-col items-center text-center" v-if="!reveal">
          <p>Click Reveal, don't let others see</p>
        </div>
        <div class="flex flex-col items-center text-center" v-if="reveal">
          <!-- Reveal Notes -->
          <div>
            <p>
              {{ player.role }}
            </p>
          </div>
          <div v-if="player.role === 'werewolf'">
            <p>Choose who to kill!</p>
            <div v-for="(item, index) in players" :key="index">
              <div
                @click="kill(item)"
                :class="
                  toKill === item.id
                    ? 'flex flex-row items-center w-12/12 p-2 border border-green-500 rounded mb-1'
                    : 'flex flex-row items-center w-12/12 p-2 border border-white mb-1'
                "
              >
                <div class="avatar__small">
                  <img class="l--circle" :src="item.avatar" />
                </div>
                <p class="px-2" v-if="item.role !== 'werewolf'">
                  {{ item.name }}
                </p>
                <p class="px-2" v-if="item.role === 'werewolf'">
                  {{ item.name }} - Werewolf
                </p>
              </div>
            </div>
          </div>
          <div v-if="player.role === 'doctor'">
            <p>Choose who to protect!</p>
            <div v-for="(item, index) in players" :key="index">
              <div
                @click="protect(item)"
                :class="
                  toProtect === item.id
                    ? 'flex flex-row items-center w-12/12 p-2 border border-green-500 rounded mb-1'
                    : 'flex flex-row items-center w-12/12 p-2 border border-white mb-1'
                "
              >
                <div class="avatar__small">
                  <img class="l--circle" :src="item.avatar" />
                </div>
                <p class="px-2">{{ item.name }}</p>
              </div>
            </div>
          </div>
          <div v-if="player.role === 'seer'">
            <p>Choose who to investigate!</p>
            <div v-if="!showInvestigate">
              <div v-for="(item, index) in players" :key="index">
                <div
                  @click="investigate(item)"
                  class="flex flex-row items-center w-12/12 p-2 border border-white mb-1"
                >
                  <div class="avatar__small">
                    <img class="l--circle" :src="item.avatar" />
                  </div>
                  <p class="px-2">{{ item.name }}</p>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col items-center w-12/12 p-2 border border-white mb-1"
              v-if="showInvestigate"
            >
              <div class="avatar__small">
                <img class="l--circle" :src="investigatePlayer.avatar" />
              </div>
              <p class="px-2">{{ investigatePlayer.name }}</p>
              <p>{{ investigatePlayer.role }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section flex flex-col w-full self-end">
        <div
          class="btn--join flex flex-col justify-center rounded-20"
          @click="show"
          v-if="!reveal"
        >
          <p>Reveal</p>
        </div>
        <div
          class="btn--join flex flex-col justify-center rounded-20"
          v-if="counter !== 0 && reveal"
        >
          <p>Please wait for {{ counter }} seconds</p>
        </div>
        <div
          class="btn--join flex flex-col justify-center rounded-20"
          @click="next"
          v-if="counter === 0 && reveal"
        >
          <p v-if="remains">Click and pass phone</p>
          <p v-if="!remains && isHost">Start Game</p>
          <p v-if="!remains && !isHost">Please wait for Host</p>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col w-full items-center flex-grow justify-center"
      v-if="phase === 'end'"
    >
      <p class="font-bold text-lg mb-2">The Night has ended</p>
      <p
        class="btn--join flex flex-col justify-center rounded-20 w-full"
        @click="nextPhase()"
      >
        Next
      </p>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {
      reveal: false,
      count: 0,
      counter: 3,
      toKill: "",
      toProtect: "",
      toInvestigate: "",
      showInvestigate: false,
      phase: "start"
    };
  },
  sockets: {},
  computed: {
    rules: function() {
      return this.$store.getters["werewolf/rules"];
    },
    roles: function() {
      return this.$store.getters["werewolf/roles"];
    },
    players: function() {
      return this.$store.getters["werewolf/players"];
    },
    revealPlayers: function() {
      return this.$store.getters["werewolf/players"];
      let players = this.$store.getters["werewolf/players"];
      if (this.profile.status === "host") {
        return players.filter(
          x => x.status === "host" || x.status === "offline"
        );
      }
      if (this.profile.status === "participant") {
        console.log(this.profile);
        return players.filter(x => x.id === this.profile.id);
      }
    },
    player: function() {
      return this.revealPlayers[this.count];
    },
    investigatePlayer: function() {
      let player = this.players.filter(x => x.id === this.toInvestigate)[0];
      return player;
    },
    remains: function() {
      return this.count !== this.revealPlayers.length - 1;
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    show: function() {
      this.reveal = true;
      let self = this;
      let count = setInterval(x => {
        self.counter -= 1;
        if (self.counter === 0) {
          clearInterval(count);
        }
      }, 1000);
    },
    next: function() {
      //Register choice
      let role = this.player.role;
      if (role === "werewolf") {
        this.$store.commit("werewolf/action", {
          type: "KILL",
          id: this.toKill
        });
      }
      if (role === "doctor") {
        this.$store.commit("werewolf/action", {
          type: "PROTECT",
          id: this.toProtect
        });
      }

      if (this.remains) {
        this.count++;
        this.counter = 3;
        this.reveal = false;
      } else if (!this.remains && this.isHost) {
        this.phase = "end";
      }
    },
    nextPhase: function() {
      this.$store.commit("werewolf/calculate", {});

      this.$store.commit("base/route", {
        route: "result"
      });

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "route",
        id: this.room,
        game: "avalon",
        route: "mission"
      });
    },
    bypass: function() {
      this.$store.commit("base/route", {
        route: "mission"
      });

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "route",
        id: this.room,
        game: "avalon",
        route: "mission"
      });
    },
    kill: function(item) {
      if (item.role !== "werewolf") {
        this.toKill = item.id;
      }
    },
    protect: function(item) {
      this.toProtect = item.id;
    },
    investigate: function(item) {
      this.toInvestigate = item.id;
      this.showInvestigate = true;
    }
  }
};
</script>
