<style lang="scss" scoped></style>

<template>
  <div
    class="wrapper flex flex-col items-center p-5 justify-center min-h-screen"
  >
    <div class="flex flex-col items-center justify-center flex-grow w-full">
      <h1 class="text-xl font-bold mb-4">Choose Game</h1>
      <div :class="gameClass(5, 12)" @click="choose('avalon')">
        <p class="font-bold">Avalon</p>
        <p class="text-sm">5-12 Players</p>
      </div>
      <div :class="gameClass(4, 8)" @click="choose('spyfall')">
        <p class="font-bold">Spyfall</p>
        <p class="text-sm">4-8 Players</p>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center w-full">
      <p
        class="bg-blue-600 p-3 text-white font-bold rounded mb-3 w-full text-center"
        @click="$router.push('/players')"
      >
        Add Players
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "games",
  components: {},
  computed: {
    players: function() {
      return this.$store.getters["players/players"];
    },
    room: function() {
      return this.$store.getters["players/room"];
    }
  },
  methods: {
    check(limit, max) {
      return this.players.length >= limit && this.players.length <= max
        ? true
        : false;
    },
    gameClass(limit, max) {
      return this.check(limit, max)
        ? "bg-blue-600 p-3 text-white rounded mb-3 text-center w-full"
        : "bg-gray-600 p-3 text-white rounded mb-3 text-center w-full";
    },
    choose: function(game) {
      if (game === "avalon") {
        this.avalon();
      }
      this.$socket.emit("game", { game, room: this.room });
    },
    avalon: function() {
      if (this.players.length < 5 || this.players.length > 12) {
        return;
      }
      this.$router.push("/avalon");
    },
    spyfall: function() {
      if (this.players.length < 4 || this.players.length > 8) {
        return;
      }
      this.$router.push("/spyfall");
    }
  }
};
</script>
