<style lang="scss" scoped></style>

<template>
  <div
    class="wrapper flex flex-col items-center p-5 justify-center min-h-screen"
  >
    <img class="w-24 h-24 mb-2" src="@/assets/icon.png" />
    <h1 class="text-xl font-bold mb-4">Party Up!</h1>
    <p
      class="bg-blue-600 p-3 text-white font-bold rounded mb-3 w-full text-center"
      @click="create"
    >
      Start Game
    </p>
    <p
      class="bg-blue-400 p-2 text-white font-medium text-sm rounded mb-3 w-full text-center"
      @click="join"
    >
      Join Game
    </p>
    <p
      class="bg-blue-400 p-2 text-white font-medium text-sm rounded mb-3 w-full text-center"
      @click="update"
    >
      Change Name
    </p>
    <p class="text-xs">Version 1.1 - by Marcel Christianis</p>
    <sweet-modal ref="modal" :hide-close-button="true">
      <div class="flex flex-col h-full items-center justify-center">
        <p class="mb-2">Please enter your name</p>
        <input
          v-model="name"
          class="border rounded p-2 mb-5"
          placeholder="Name"
        />
        <input
          v-model="room"
          v-if="mode === 'join'"
          class="border rounded p-2 mb-5"
          placeholder="Room"
        />
        <p
          v-if="mode === 'create'"
          class="bg-green-600 p-2 rounded text-white"
          @click="start()"
        >
          Continue
        </p>
        <p
          v-if="mode === 'join'"
          class="bg-green-600 p-2 rounded text-white"
          @click="joinRoom()"
        >
          Join
        </p>
      </div>
    </sweet-modal>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "home",
  components: {},
  created: function() {},
  data: function() {
    return {
      mode: "create",
      room: ""
    };
  },
  sockets: {
    joined: function(packet) {
      this.$store.commit("players/room", {
        type: "SET",
        payload: {
          room: this.room
        }
      });
      this.$store.commit("players/players", {
        type: "UPDATE",
        payload: {
          players: packet
        }
      });
      this.$router.push("/players");
    }
  },
  computed: {
    name: {
      get: function() {
        return this.$store.getters["players/name"];
      },
      set: function(value) {
        this.$store.commit("players/name", {
          type: "SET",
          payload: {
            name: value
          }
        });
      }
    }
  },
  methods: {
    create: function() {
      this.show();
      this.mode = "create";
    },
    join: function() {
      this.show();
      this.mode = "join";
    },
    joinRoom: function() {
      let player = {
        name: this.name,
        id: uniqid(),
        type: "online"
      };
      this.$store.commit("players/players", {
        type: "ONLINE",
        payload: {
          ...player
        }
      });

      this.$socket.emit("join", {
        room: this.room,
        player
      });
    },
    show: function() {
      this.$refs.modal.open();
    },

    update: function() {
      window.location.reload(true);
    },
    start: function(type) {
      let player = {
        name: this.name,
        id: uniqid(),
        type: "gamemaster"
      };
      this.$store.commit("players/players", {
        type: "GAMEMASTER",
        payload: {
          ...player
        }
      });

      //Socket
      // let room = uniqid();
      let room = "test";
      this.$store.commit("players/room", {
        type: "SET",
        payload: {
          room
        }
      });
      this.$socket.emit("create", {
        room,
        player
      });

      this.$router.push("/players");
    }
  }
};
</script>
