<style lang="scss" scoped></style>

<template>
  <div
    class="wrapper flex flex-col items-center p-5 justify-between min-h-screen max-h-screen"
  >
    <div class="flex flex-row justify-between w-full items-center">
      <p class="text-xs mb-0 pr-2 font-bold">
        Party Up!
      </p>
      <div
        class="text-sm bg-red-200 p-2 rounded flex flex-row items-center text-red-800"
        @click="exit()"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
    </div>
    <div class="flex flex-col w-full items-center">
      <p class="text-xl font-bold mb-2">{{ players.length }} Players</p>
      <p class="bg-green-200 p-2 text-green-800 text-md rounded">
        Code: <b>{{ room }}</b>
      </p>
    </div>
    <div class="flex flex-col flex-grow w-full overflow-y-scroll mb-1">
      <div
        class="border-b border-gray-400 py-2 flex flex-row justify-between"
        v-for="(item, index) in players"
        :key="index"
      >
        <span>{{ item.name }}</span>
        <span
          class="text-xs bg-red-500 py-1 px-2 rounded text-white"
          v-if="item.type !== 'gamemaster'"
          @click="remove(item)"
        >
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="flex flex-col w-full items-center">
      <h1 class="text-xl font-bold mb-2">Add Players</h1>
      <input
        class="p-4 border border-gray-700 rounded mb-2 w-full"
        placeholder="Name"
        v-model="name"
      />
      <p
        class="bg-blue-600 p-4 text-white rounded w-full text-center mb-4"
        @click="add"
      >
        Add
      </p>
      <p
        class="bg-green-600 p-4 text-white rounded w-full text-center"
        @click="start"
      >
        Choose Game
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Players",
  components: {},
  created: function() {},
  data: function() {
    return {
      name: ""
    };
  },
  sockets: {
    players: function(players) {
      this.$store.commit("players/players", {
        type: "UPDATE",
        payload: {
          players
        }
      });
    }
  },
  computed: {
    players: function() {
      return this.$store.getters["players/players"];
    },
    room: function() {
      return this.$store.getters["players/room"];
    }
  },
  methods: {
    add: function() {
      if (this.name.length > 0) {
        let check = this.players.some(x => x.name === this.name);
        if (check) {
          return;
        }
        this.$store.commit("players/players", {
          type: "ADD",
          payload: {
            name: this.name
          }
        });
        this.name = "";
        this.update();
      }
    },
    remove: function(item) {
      this.$store.commit("players/players", {
        type: "REMOVE",
        payload: {
          id: item.id
        }
      });
      this.update();
    },
    start: function() {
      this.$router.push("/games");
    },
    update: function() {
      this.$socket.emit("players", {
        room: this.room,
        players: this.players
      });
    },
    exit: function() {
      this.$store.commit("players/exit", {
        type: "EXIT"
      });
      this.$router.push("/");
    }
  }
};
</script>
