<style lang="scss" scoped>
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.avatar {
  background: #ccc;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.chatbox {
  min-width: 100px;
  margin-bottom: 5px;
  .l--container {
    background: #fff;
    border: 1px solid #ccc;
    // border-radius: 10px;
    padding: 5px 10px;
  }
  .l--info {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .l--msg {
    font-size: 14px;
  }
  &.l--right {
    .l--container {
      border-radius: 15px;
      border-top-right-radius: 0px;
    }
  }
  &.l--left {
    .l--container {
      border-radius: 15px;
      border-top-left-radius: 0px;
    }
  }
}
.chatinput {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  input {
    font-size: 14px;
  }
  .l--send {
    font-size: 14px;
    color: #555;
    font-weight: 500;
  }
}
.avatar {
  height: 25px;
  width: 25px;
  .l--circle {
    background: #e6e4e4;
    border-radius: 50%;
    padding: 1px;
  }
  .l--chosen {
    // border: 2px solid #66f061;
    background: #66f061;
    padding: 1px;
    border-radius: 50%;
  }
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col">
      <div class="flex flex-row py-2">
        <p class="font-bold text-xl">Chat</p>
      </div>
    </div>
    <div
      class="section flex flex-col flex-grow overflow-y-scroll"
      v-chat-scroll
    >
      <div :class="chatClass(item)" v-for="(item, n) in chats" :key="n">
        <div class="l--container w-full">
          <div class="flex flex-row l--info items-center">
            <div class="avatar">
              <img class="l--circle" :src="item.avatar" />
            </div>
            <p class="px-1 font-bold">{{ item.name }}</p>
          </div>
          <p class="l--msg">
            {{ item.message }}
          </p>
        </div>
      </div>
    </div>
    <div class="section flex flex-row w-full">
      <div class="chatinput flex flex-row w-full justify-between">
        <input
          placeholder="Message"
          class="flex flex-grow"
          v-model="message"
          v-on:keyup.enter="chat"
        />
        <p class="l--send" @click="chat">Send</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {
      message: ""
    };
  },
  sockets: {
    chat: function(packet) {
      this.$store.commit("base/chat", {
        chat: packet.chat
      });
    }
  },
  computed: {
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    chats: function() {
      return this.$store.getters["base/chats"];
    }
  },
  methods: {
    chatClass: function(item) {
      if (item.id === this.profile.id) {
        return "chatbox l--right self-end";
      }
      return "chatbox l--left self-start";
    },
    chat: function() {
      this.$socket.emit("chat", {
        id: this.room,
        chat: {
          ...this.profile,
          message: this.message
        }
      });
      this.message = "";
    }
  }
};
</script>
