<style lang="scss" scoped>
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col flex-grow mb-4">
      <div class="flex flex-row py-2">
        <p class="font-bold text-xl">Choose Games!</p>
      </div>
      <div class="flex flex-row flex-wrap">
        <div class="p-2 w-6/12 h-24">
          <div
            class="bg-red-600 w-full h-full flex flex-col items-center justify-center text-white font-bold rounded-20"
            @click="choose('avalon')"
          >
            <p>Avalon</p>
          </div>
        </div>
        <div class="p-2 w-6/12 h-24">
          <div
            class="bg-red-600 w-full h-full flex flex-col items-center justify-center text-white font-bold rounded-20"
            @click="choose('undercover')"
          >
            <p>Undercover</p>
          </div>
        </div>
        <div class="p-2 w-6/12 h-24">
          <div
            class="bg-orange-500 w-full h-full flex flex-col items-center justify-center text-white font-bold rounded-20"
            @click="choose('werewolf')"
          >
            <p>Werewolf</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section flex flex-col w-full self-end">
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="toRoom"
      >
        <p>Add More Players</p>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    room: function() {
      return this.$store.getters["base/room"];
    },
    players: function() {
      return this.$store.getters["base/players"];
    }
  },
  methods: {
    toRoom: function() {
      this.$store.commit("base/route", {
        route: "room"
      });
    },
    choose: function(game) {
      if (game === "werewolf") {
        this.$store.commit("werewolf/initiate", {
          players: this.$store.getters["base/players"],
          room: this.$store.getters["base/room"]
        });
        this.$store.commit("base/route", {
          route: "mode"
        });
        this.$store.commit("base/game", {
          game: "werewolf"
        });
      }
      if (game === "undercover") {
        this.$store.commit("undercover/initiate", {
          players: this.$store.getters["base/players"],
          room: this.$store.getters["base/room"]
        });
        this.$store.commit("base/route", {
          route: "mode"
        });
        this.$store.commit("base/game", {
          game: "undercover"
        });
      }
      if (game === "avalon") {
        if (this.players.length < 5) {
          return;
        }
        this.$store.commit("avalon/initiate", {
          players: this.$store.getters["base/players"],
          room: this.$store.getters["base/room"]
        });
        this.$store.commit("base/route", {
          route: "mode"
        });
        this.$store.commit("base/game", {
          game: "avalon"
        });
        console.log(this.room);
        //Network
        this.$socket.emit("broadcast", {
          type: "game",
          id: this.room,
          data: "avalon"
        });
        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "players",
          data: this.$store.getters["avalon/players"]
        });
      }
    }
  }
};
</script>
