<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 15px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.avatar {
  width: 25px;
  .l--circle {
    background: #e6e4e4;
    border-radius: 50%;
    padding: 1px;
  }
}
</style>

<template>
  <div class="wrapper flex flex-col min-h-screen">
    <div class="flex flex-col justify-end header px-4 pb-2">
      <b>Party Up!</b>
    </div>
    <div class="body flex flex-col flex-grow">
      <div class="section flex flex-col mb-4">
        <div class="flex flex-row py-2 items-center">
          <div class="font-bold text-xl pr-2">Hi</div>
          <div class="avatar">
            <img class="l--circle" :src="profile.avatar" />
          </div>
          <div class="font-bold text-xl pl-1">
            {{ name }}, Let's Get Started
          </div>
        </div>
        <div
          class="btn--create flex flex-col justify-center mb-2 rounded-20"
          @click="create"
        >
          <p>Create Room</p>
        </div>
        <div
          class="btn--join flex flex-col justify-center rounded-20"
          @click="showJoin"
        >
          <p>Join Room</p>
        </div>
      </div>
      <div class="section flex flex-col mb-4">
        <div class="flex flex-row py-2">
          <p class="font-bold text-xl">Settings</p>
        </div>
        <div class="flex flex-row">
          <div
            class="btn--join flex flex-col justify-center rounded-20 w-full"
            @click="$router.push('/setup')"
          >
            <p>Change Name</p>
          </div>
          <!-- <div class="p-2 w-6/12 h-24">
            <div
              class="bg-red-600 w-full h-full flex flex-col items-center justify-center text-white font-bold rounded-20"
            >
              <p>Avalon</p>
            </div>
          </div> -->
          <!-- <div class="p-2 w-6/12 h-24">
            <div
              class="bg-orange-500 w-full h-full flex flex-col items-center justify-center text-white font-bold rounded-20"
            >
              <p>Spyfall</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <sweet-modal ref="modal" :hide-close-button="true">
      <div class="flex flex-col h-full items-center justify-center">
        <p class="mb-2">Please enter Room Code</p>
        <input
          v-model="room"
          class="border rounded p-2 mb-5"
          placeholder="Room Code"
        />
        <div
          class="btn--join flex flex-col justify-center rounded-20 px-4 mb-2"
          @click="join"
        >
          <p>Join Room</p>
        </div>
        <div
          class="bg-gray-500 text-sm rounded px-2 py-1 text-white font-bold"
          @click="cancelJoin"
        >
          <p>Cancel</p>
        </div>
      </div>
    </sweet-modal>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {
    if (this.name === "") {
      this.$router.push("/setup");
    }
  },
  data: function() {
    return {
      room: ""
    };
  },
  sockets: {
    joined: function(id) {
      this.$store.commit("base/initiate", {
        room: id,
        status: "participant"
      });
      this.$store.commit("base/route", {
        route: "room"
      });
      this.$router.push("/wrapper");
    }
  },
  computed: {
    name: {
      get() {
        return this.$store.getters["base/profile"].name;
      },
      set(value) {
        this.$store.commit("base/name", {
          name: value
        });
      }
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    }
  },
  methods: {
    create: function() {
      let id = uniqid
        .time()
        .substr(-4)
        .toUpperCase();
      this.$store.commit("base/initiate", {
        room: id,
        status: "host"
      });
      this.$store.commit("base/route", {
        route: "room"
      });
      this.$router.push("/wrapper");
      this.$socket.emit("create", {
        id
      });
    },
    showJoin: function() {
      console.log("open");
      this.$refs.modal.open();
    },
    join: function() {
      console.log("join");
      this.$socket.emit("join", {
        id: this.room.toUpperCase(),
        profile: this.profile
      });
      this.$refs.modal.close();
    },
    cancelJoin: function() {
      this.$refs.modal.close();
    }
  }
};
</script>
