<style lang="scss" scoped>
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.room {
  background: #30c162;
  text-align: center;
  color: #fff;
  min-height: 100px;
}
.btn--add {
  background: #30c162;
  text-align: center;
  color: #fff;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.avatar {
  height: 25px;
  width: 25px;
  .l--circle {
    border: 1px solid #e6e4e4;
    background: #e6e4e4;
    border-radius: 50%;
    padding: 1px;
  }
  .l--chosen {
    border: 1px solid #66f061;
    background: #e6e4e4;
    padding: 1px;
    border-radius: 50%;
  }
}
.avatar-lg {
  height: 50px;
  width: 50px;
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-4">
      <div class="flex flex-row py-2 justify-between items-center">
        <p class="font-bold text-xl">Welcome!</p>
        <p
          class="bg-gray-500 text-xs rounded px-2 py-1 text-white font-bold"
          @click="leaveRoom"
        >
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Leave Room
        </p>
      </div>
      <div class="room flex flex-col justify-center rounded-20">
        <p class="text-lg font-bold">{{ room }}</p>
        <p class="text-xs">This is your Room Key</p>
        <p class="text-xs">You can share it so your friends can join</p>
      </div>
    </div>
    <div class="section flex flex-col mb-4 flex-grow">
      <div class="flex flex-row py-2">
        <p class="font-bold text-xl">Players</p>
      </div>
      <div
        class="flex flex-row items-center justify-between items-center mb-2"
        v-for="(item, n) in players"
        :key="n"
      >
        <div class="flex flex-row">
          <div class="avatar">
            <img class="l--circle" :src="item.avatar" />
          </div>
          <p class="px-2">{{ item.name }}</p>
        </div>
        <i
          class="fa fa-trash"
          v-if="item.status !== 'host' && profile.status === 'host'"
          aria-hidden="true"
          @click="removePlayer(item)"
        ></i>
        <p v-if="item.status === 'host'">Host</p>
      </div>
    </div>
    <div class="section flex flex-col w-full self-end" v-if="isHost">
      <div
        class="btn--add flex flex-col justify-center rounded-20 mb-2"
        @click="addPlayer"
      >
        <p class="text-lg font-bold">Add Offline Players</p>
        <p class="text-xs">Host will have to share phone</p>
      </div>
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="games"
      >
        <p>Pick a Game</p>
      </div>
    </div>
    <sweet-modal ref="modal" :hide-close-button="true">
      <div class="flex flex-col h-full items-center justify-center">
        <p class="font-bold text-md mb-2">Please enter your name</p>
        <input
          v-model="name"
          class="border rounded p-2 mb-2"
          placeholder="Name"
        />
        <div class="flex flex-row py-2">
          <p class="font-bold text-md">Choose your Avatar</p>
        </div>
        <div class="avatars flex flex-row flex-wrap mb-5">
          <div
            v-for="(item, index) in avatars"
            :key="index"
            class="avatar avatar-lg m-2 w-4/12"
          >
            <img
              :class="avatarClass(item.src)"
              :src="item.src"
              @click="chooseAvatar(item.src)"
            />
          </div>
        </div>
        <div
          class="btn--join flex flex-col justify-center rounded-20 w-64 mb-2"
          @click="add"
        >
          <p>Add Player</p>
        </div>
        <div
          class="bg-gray-500 text-sm rounded px-2 py-1 text-white font-bold"
          @click="cancelAdd"
        >
          <p>Cancel</p>
        </div>
      </div>
    </sweet-modal>
  </div>
</template>

<script>
import uniqid from "uniqid";
import avatars from "./avatars.js";

export default {
  name: "roomv2",
  components: {},
  created: function() {},
  data: function() {
    return {
      name: "",
      avatars,
      avatar: ""
    };
  },
  sockets: {},
  computed: {
    room: function() {
      return this.$store.getters["base/room"];
    },
    players: function() {
      return this.$store.getters["base/players"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    avatarClass: function(src) {
      if (src === this.avatar) {
        return "l--chosen";
      }
      return "l--circle";
    },
    chooseAvatar: function(src) {
      this.avatar = src;
    },
    addPlayer: function() {
      this.$refs.modal.open();
    },
    cancelAdd: function() {
      this.$refs.modal.close();
    },
    removePlayer: function(item) {
      this.$store.commit("base/removePlayer", {
        id: item.id
      });

      this.$socket.emit("broadcast", {
        type: "players",
        id: this.room,
        data: this.$store.getters["base/players"]
      });
    },
    add: function() {
      if (this.name !== "" && this.avatar !== "") {
        this.$store.commit("base/addPlayer", {
          type: "offline",
          name: this.name,
          avatar: this.avatar
        });
        this.$refs.modal.close();

        this.$socket.emit("broadcast", {
          type: "players",
          id: this.room,
          data: this.$store.getters["base/players"]
        });

        this.name = "";
        this.avatar = "";
      }
    },
    games: function() {
      // this.$router.push("/game");
      this.$store.commit("base/route", {
        route: "game"
      });
    },
    leaveRoom: function() {}
  }
};
</script>
