<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 15px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.avatar {
  padding: 5px;
  .l--circle {
    border: 2px solid #bbb;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 50%;
  }
  .l--chosen {
    border: 2px solid #66f061;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 50%;
  }
}
</style>

<template>
  <div class="wrapper flex flex-col min-h-screen">
    <div class="flex flex-col justify-end header px-4 pb-2">
      <b>Party Up!</b>
    </div>
    <div class="body flex flex-col flex-grow">
      <div class="section flex flex-col">
        <div class="flex flex-row py-2">
          <p class="font-bold text-xl">Please enter your name</p>
        </div>
        <input v-model="name" class="border rounded p-2" placeholder="Name" />
      </div>
      <div class="section flex flex-col flex-grow overflow-y-scroll pb-4">
        <div class="flex flex-row py-2">
          <p class="font-bold text-xl">Choose your Avatar</p>
        </div>
        <div class="avatars flex flex-row flex-wrap">
          <div
            v-for="(item, index) in avatars"
            :key="index"
            class="avatar w-3/12"
          >
            <img
              :class="avatarClass(item.src)"
              :src="item.src"
              @click="chooseAvatar(item.src)"
            />
          </div>
        </div>
      </div>
      <div class="section flex flex-col">
        <div
          class="btn--join flex flex-col justify-center rounded-20"
          @click="enter"
        >
          <p>Enter Party Up!</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";
import avatars from "./avatars.js";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {
      avatars
    };
  },
  sockets: {},
  computed: {
    name: {
      get() {
        return this.$store.getters["base/profile"].name;
      },
      set(value) {
        this.$store.commit("base/name", {
          name: value
        });
      }
    },
    avatar: function() {
      return this.$store.getters["base/profile"].avatar;
    }
  },
  methods: {
    avatarClass: function(src) {
      if (src === this.avatar) {
        return "l--chosen";
      }
      return "l--circle";
    },
    chooseAvatar: function(src) {
      this.$store.commit("base/avatar", {
        avatar: src
      });
    },
    enter: function() {
      if (this.name !== "" && this.avatar !== "") {
        this.$store.commit("base/setID");
        this.$router.push("/");
      }
    }
  }
};
</script>
