<style lang="scss" scoped>
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
  @media screen and (max-width: 800px) {
    max-width: 400px;
  }
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: calc(100% - 60px);
  // padding: 10px 15px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
</style>

<template>
  <div class="h-full wrapper flex flex-col">
    <div class="flex flex-row justify-between items-end header px-4 pb-2">
      <div class="flex flex-row items-center">
        <b v-if="game === 'none'">Party Up!</b>
        <b v-if="game === 'avalon'">Avalon</b>
        <b v-if="game === 'undercover'">Undercover</b>
        <p
          v-if="profile.status === 'host'"
          class="text-sm bg-white text-blue-500 px-1 rounded ml-1"
        >
          Host
        </p>
      </div>
      <div v-if="isMobile" @click="showChat" class="flex flex-row items-center">
        <i class="fa fa-comment" aria-hidden="true" v-if="newChats == 0"></i>
        <p class="pr-1 text-sm font-bold" v-if="newChats !== 0">
          {{ newChats }}
        </p>
        <i
          class="fa fa-exclamation"
          aria-hidden="true"
          v-if="newChats !== 0"
        ></i>
      </div>
    </div>
    <div class="body flex flex-row">
      <div class="min-h-full flex flex-col w-full md:w-6/12 p-4">
        <Room v-if="route === 'room' && game === 'none'"></Room>
        <Game v-if="route === 'game' && game === 'none'"></Game>

        <!-- Avalon -->
        <AvalonMode v-if="route === 'mode' && game === 'avalon'"></AvalonMode>
        <AvalonReveal
          v-if="route === 'reveal' && game === 'avalon'"
        ></AvalonReveal>
        <AvalonMission
          v-if="route === 'mission' && game === 'avalon'"
        ></AvalonMission>
        <AvalonVote v-if="route === 'vote' && game === 'avalon'"></AvalonVote>
        <AvalonResult
          v-if="route === 'result' && game === 'avalon'"
        ></AvalonResult>
        <AvalonGuess
          v-if="route === 'guess' && game === 'avalon'"
        ></AvalonGuess>
        <AvalonEnd v-if="route === 'end' && game === 'avalon'"></AvalonEnd>

        <!-- Undercover -->
        <UndercoverMode
          v-if="route === 'mode' && game === 'undercover'"
        ></UndercoverMode>
        <UndercoverReveal
          v-if="route === 'reveal' && game === 'undercover'"
        ></UndercoverReveal>
        <UndercoverMission
          v-if="route === 'mission' && game === 'undercover'"
        ></UndercoverMission>
        <UndercoverResult
          v-if="route === 'result' && game === 'undercover'"
        ></UndercoverResult>
        <UndercoverGuess
          v-if="route === 'guess' && game === 'undercover'"
        ></UndercoverGuess>
        <UndercoverEnd
          v-if="route === 'end' && game === 'undercover'"
        ></UndercoverEnd>

        <!-- Werewolf -->
        <WerewolfMode
          v-if="route === 'mode' && game === 'werewolf'"
        ></WerewolfMode>
        <WerewolfReveal
          v-if="route === 'reveal' && game === 'werewolf'"
        ></WerewolfReveal>
        <WerewolfMission
          v-if="route === 'mission' && game === 'werewolf'"
        ></WerewolfMission>
        <WerewolfDay
          v-if="route === 'day' && game === 'werewolf'"
        ></WerewolfDay>
        <WerewolfResult
          v-if="route === 'result' && game === 'werewolf'"
        ></WerewolfResult>
        <WerewolfResultDay
          v-if="route === 'resultDay' && game === 'werewolf'"
        ></WerewolfResultDay>
        <WerewolfGuess
          v-if="route === 'guess' && game === 'werewolf'"
        ></WerewolfGuess>
        <WerewolfEnd
          v-if="route === 'end' && game === 'werewolf'"
        ></WerewolfEnd>
      </div>
      <div class="min-h-full flex flex-col w-6/12 p-4" v-if="!isMobile">
        <Chat></Chat>
      </div>
    </div>
    <sweet-modal ref="chat" :hide-close-button="true">
      <div class="h-full flex flex-col">
        <Chat v-if="isMobile"></Chat>
        <p
          class="text-xs mt-4 bg-gray-500 self-center py-1 px-2 rounded text-white font-bold"
          @click="closeChat"
        >
          Close Chat
        </p>
      </div>
    </sweet-modal>
  </div>
</template>

<script>
import uniqid from "uniqid";
import Room from "./Room.vue";
import Game from "./Game.vue";
import Chat from "./Chat.vue";

//Avalon
import AvalonMode from "./avalon/Mode.vue";
import AvalonReveal from "./avalon/Reveal.vue";
import AvalonMission from "./avalon/Mission.vue";
import AvalonVote from "./avalon/Vote.vue";
import AvalonResult from "./avalon/Result.vue";
import AvalonGuess from "./avalon/Guess.vue";
import AvalonEnd from "./avalon/End.vue";

//Undercover
import UndercoverMode from "./undercover/Mode.vue";
import UndercoverReveal from "./undercover/Reveal.vue";
import UndercoverMission from "./undercover/Mission.vue";
import UndercoverResult from "./undercover/Result.vue";
import UndercoverGuess from "./undercover/Guess.vue";
import UndercoverEnd from "./undercover/End.vue";

//Werewolf
import WerewolfMode from "./werewolf/Mode.vue";
import WerewolfReveal from "./werewolf/Reveal.vue";
import WerewolfMission from "./werewolf/Mission.vue";
import WerewolfDay from "./werewolf/Day.vue";
import WerewolfResult from "./werewolf/Result.vue";
import WerewolfResultDay from "./werewolf/ResultDay.vue";
import WerewolfGuess from "./werewolf/Guess.vue";
import WerewolfEnd from "./werewolf/End.vue";

export default {
  name: "v2",
  components: {
    Room,
    Game,
    Chat,
    AvalonMode,
    AvalonReveal,
    AvalonMission,
    AvalonVote,
    AvalonResult,
    AvalonGuess,
    AvalonEnd,
    UndercoverMode,
    UndercoverReveal,
    UndercoverMission,
    UndercoverResult,
    UndercoverGuess,
    UndercoverEnd,
    WerewolfMode,
    WerewolfReveal,
    WerewolfMission,
    WerewolfDay,
    WerewolfResult,
    WerewolfResultDay,
    WerewolfGuess,
    WerewolfEnd
  },
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {
    host: function(packet) {
      console.log("host", packet);
      if (packet.type === "players") {
        this.$store.commit("base/addPlayer", {
          type: "online",
          name: packet.profile.name,
          id: packet.profile.id,
          avatar: packet.profile.avatar
        });
        setTimeout(x => {
          this.$socket.emit("broadcast", {
            type: "players",
            id: this.room,
            data: this.$store.getters["base/players"]
          });
        }, 500);
      }
      if (packet.type === "feedback") {
        console.log(packet);
        this.$store.commit(`${packet.game}/feedback`, {
          type: packet.syncType,
          data: packet.data
        });
      }
    },
    receiver: function(packet) {
      console.log("receivee", packet);
      if (packet.type === "players") {
        this.$store.commit("base/sync", {
          type: "players",
          data: packet.data
        });
      }
      if (packet.type === "game") {
        this.$store.commit("base/sync", {
          type: "game",
          data: packet.data
        });
      }
      if (packet.type === "reset") {
        this.$store.commit(`${packet.game}/reset`);
      }
      if (packet.type === "sync") {
        this.$store.commit(`${packet.game}/sync`, {
          type: packet.syncType,
          key: packet.key,
          data: packet.data
        });
      }
      if (packet.type === "route") {
        this.$store.commit("base/route", {
          route: packet.route
        });
        this.$store.commit("base/game", {
          game: packet.game
        });
      }
    }
  },
  computed: {
    name: {
      get() {
        return this.$store.getters["base/profile"].name;
      },
      set(value) {
        this.$store.commit("base/name", {
          name: value
        });
      }
    },
    route: function() {
      return this.$store.getters["base/route"];
    },
    game: function() {
      return this.$store.getters["base/game"];
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    },
    isMobile: function() {
      console.log(window.innerWidth);
      if (window.innerWidth <= 800) {
        return true;
      } else {
        return false;
      }
    },
    newChats: function() {
      return this.$store.getters["base/newChats"];
    }
  },
  methods: {
    showChat: function() {
      console.log("chat");
      this.$refs.chat.open();
      this.$store.commit("base/readChat");
    },
    closeChat: function() {
      console.log("chat");
      this.$refs.chat.close();
    }
  }
};
</script>
