<style lang="scss" scoped></style>

<template>
  <div
    class="wrapper flex flex-col items-center p-5 justify-center min-h-screen max-h-screen"
  >
    <div
      class="flex flex-col justify-between w-full flex-grow"
      v-if="phase === 'lobby'"
    >
      <div class="flex flex-row justify-between">
        <p class="text-xs mb-0 pr-2">
          <span class="font-bold">Objective</span> Spies to fail 3 or Resistance
          to succeed 3 missions
        </p>
        <div
          class="text-sm bg-red-200 p-2 rounded flex flex-row items-center text-red-800"
          @click="restart('home')"
        >
          <i class="fa fa-home" aria-hidden="true"></i>
        </div>
      </div>
      <div class="flex flex-col w-full">
        <div
          :class="missionClass(item)"
          v-for="(item, index) in missions"
          :key="index"
        >
          <span class="font-bold text-md"
            >Mission {{ index + 1 }} - {{ item.status }}</span
          >
          <span
            class="text-xs flex flex-row justify-between"
            v-if="item.status === 'pending'"
          >
            <span>
              <i class="fa fa-users pr-1" aria-hidden="true"></i>
              <b>{{ item.players }} players</b>
            </span>
            <span>
              <i class="fa fa-times pr-1" aria-hidden="true"></i>
              <b>{{ item.fails }} to fail</b>
            </span>
          </span>
          <span class="text-sm" v-if="item.status === 'succeed'">
            <b>{{ item.players }} players</b> embarked on this mission
          </span>
          <span class="text-sm" v-if="item.status === 'fail'">
            <b>{{ item.players }} players</b> embarked on this mission
          </span>
        </div>
      </div>
      <div class="flex flex-col w-full overflow-y-scroll">
        <div class="flex flex-row w-full flex-wrap">
          <div class="w-3/12" v-for="(item, index) in players" :key="index">
            {{ item.name }}
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full text-center">
        <h1 class="text-lg font-bold mb-1">Mission {{ track.mission + 1 }}</h1>
        <p class="mb-2">
          Mission Leader
          <span class="font-bold">{{ leader.name }}</span
          >, Assign <span class="font-bold">{{ current.players }}</span> Players
        </p>
        <div class="flex flex-row w-full">
          <p
            class="bg-green-600 p-3 text-white rounded font-bold w-8/12"
            @click="start"
          >
            Start Mission
          </p>
          <p
            class="bg-blue-600 p-3 text-white rounded text-sm w-4/12 font-bold ml-1 flex flex-row items-center justify-center"
            @click="change"
          >
            <i class="fa fa-refresh pr-1" aria-hidden="true"></i> Leader
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full text-center" v-if="phase === 'vote'">
      <div v-if="votePhase === 'vote'">
        <p class="font-bold text-xl">Voter {{ voter }}</p>
        <p class="mb-4">Vote! Don't let others see your vote</p>
        <p
          class="bg-green-600 p-4 text-white rounded mb-1"
          @click="vote('succeed')"
        >
          Succeed Mission
        </p>
        <p class="bg-red-600 p-4 text-white rounded" @click="vote('fail')">
          Fail Mission
        </p>
      </div>
      <div v-if="votePhase === 'next'">
        <p class="mb-4">Vote submitted!</p>
        <p
          class="bg-blue-600 p-4 text-white rounded mb-1"
          @click="vote('next')"
        >
          Tap and pass to next voter
        </p>
      </div>
      <div v-if="votePhase === 'break'">
        <p
          class="bg-blue-600 p-4 text-white rounded mb-1"
          @click="vote('result')"
        >
          All Votes in! Reveal Result
        </p>
      </div>
      <div v-if="votePhase === 'result'">
        <p
          class="font-bold text-xl mb-4 text-green-600"
          v-if="current.status === 'succeed'"
        >
          Mission Succeed!
        </p>
        <p
          class="font-bold text-xl mb-4 text-red-600"
          v-if="current.status === 'fail'"
        >
          Mission Failed!
        </p>
        <p class="bg-blue-600 p-4 text-white rounded mb-1" @click="vote('end')">
          Next Mission
        </p>
      </div>
    </div>
    <div class="flex flex-col w-full text-center" v-if="phase === 'end'">
      <p
        class="mb-4 text-xl font-bold text-green-600"
        v-if="track.result === 'resistance'"
      >
        The Resistance Wins!
      </p>
      <p
        class="mb-4 text-xl font-bold text-red-600"
        v-if="track.result === 'spies'"
      >
        The Spies Win!
      </p>
      <p
        class="bg-green-600 p-4 text-white rounded mb-1"
        @click="restart('again')"
      >
        Play Again
      </p>
      <p
        class="bg-blue-600 p-4 mb-4 text-white rounded"
        @click="restart('home')"
      >
        Return Home
      </p>
      <div class="flex flex-row justify-between w-full">
        <p
          :class="
            roles.merlin
              ? 'text-xs text-green-600 mb-1 bg-green-200 p-1 rounded'
              : 'text-xs text-green-600 mb-1 bg-gray-200 p-1 rounded'
          "
          @click="toggle('merlin')"
        >
          <i
            :class="roles.merlin ? 'fa fa-minus-circle ' : 'fa fa-plus-circle'"
            aria-hidden="true"
          ></i>
          Merlin
        </p>
        <p
          :class="
            roles.percival
              ? 'text-xs text-green-600 mb-1 bg-green-200 p-1 rounded'
              : 'text-xs text-green-600 mb-1 bg-gray-200 p-1 rounded'
          "
          @click="toggle('percival')"
        >
          <i
            :class="
              roles.percival ? 'fa fa-minus-circle ' : 'fa fa-plus-circle'
            "
            aria-hidden="true"
          ></i>
          Percival
        </p>
        <p
          :class="
            roles.morgana
              ? 'text-xs text-red-600 mb-1 bg-red-200 p-1 rounded'
              : 'text-xs text-red-600 mb-1 bg-gray-200 p-1 rounded'
          "
          @click="toggle('morgana')"
        >
          <i
            :class="roles.morgana ? 'fa fa-minus-circle ' : 'fa fa-plus-circle'"
            aria-hidden="true"
          ></i>
          Morgana
        </p>
        <p
          :class="
            roles.modred
              ? 'text-xs text-red-600 mb-1 bg-red-200 p-1 rounded'
              : 'text-xs text-red-600 mb-1 bg-gray-200 p-1 rounded'
          "
          @click="toggle('modred')"
        >
          <i
            :class="roles.modred ? 'fa fa-minus-circle ' : 'fa fa-plus-circle'"
            aria-hidden="true"
          ></i>
          Modred
        </p>
      </div>
    </div>
    <div class="flex flex-col w-full text-center" v-if="phase === 'guess'">
      <p class="mb-4 text-xl font-bold">
        The Resistance Wins, but Spies, you have a chance to guess who Merlin
        is!
      </p>
      <p
        class="bg-blue-600 text-white rounded mb-2 p-2"
        v-for="(item, index) in resistance"
        :key="index"
        @click="guess(item)"
      >
        {{ item.name }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Mission",
  components: {},
  created: function() {},
  data: function() {
    return {
      voter: 1,
      votePhase: "vote"
    };
  },
  computed: {
    roles: function() {
      return this.$store.getters["avalon/roles"];
    },
    current: function() {
      return this.missions[this.track.mission];
    },
    missions: function() {
      return this.$store.getters["avalon/missions"];
    },
    track: function() {
      return this.$store.getters["avalon/track"];
    },
    players: function() {
      return this.$store.getters["avalon/players"];
    },
    resistance: function() {
      return this.$store.getters["avalon/players"].filter(
        x => x.team === "resistance"
      );
    },
    leader: function() {
      return this.players[this.track.leader];
    },
    phase: function() {
      return this.track.phase;
    },
    roles: function() {
      return this.$store.getters["avalon/roles"];
    },
    state: function() {
      return this.$store.getters["avalon/state"];
    }
  },
  methods: {
    sendUpdate: function() {
      console.log("send update");
      this.$socket.emit("update", { data: this.state });
    },
    toggle: function(role) {
      this.$store.commit("avalon/role", { role });
      this.sendUpdate();
    },
    missionClass: function(item) {
      if (item.status === "succeed") {
        return "flex flex-col bg-green-300 py-1 px-2 rounded mb-2";
      }
      if (item.status === "fail") {
        return "flex flex-col bg-red-300 py-1 px-2 rounded mb-2";
      }
      return "flex flex-col bg-gray-300 py-1 px-2 rounded mb-2";
    },
    start: function() {
      this.$store.commit("avalon/track", {
        type: "START"
      });
    },
    vote: function(value) {
      if (value === "succeed" || value === "fail") {
        this.$store.commit("avalon/track", {
          type: "VOTE",
          payload: {
            vote: value
          }
        });
        if (this.voter !== this.current.players) {
          this.votePhase = "next";
        } else {
          this.votePhase = "break";
        }
      }
      if (this.voter !== this.current.players + 1 && value === "next") {
        this.votePhase = "vote";
        this.voter += 1;
      }
      if (value === "result") {
        this.votePhase = "result";
      }
      if (value === "end") {
        this.votePhase = "vote";
        this.voter = 1;
        this.$store.commit("avalon/track", {
          type: "END"
        });
      }
    },
    restart: function(value) {
      if (value === "again") {
        // this.$store.commit("avalon/shuffle", { restart: true });
        this.$router.push("/avalon");
      }
      if (value === "home") {
        // this.$store.commit("avalon/reset");
        this.$router.push("/");
      }
    },
    guess: function(item) {
      this.$store.commit("avalon/guess", { id: item.id });
    },
    change: function() {
      this.$store.commit("avalon/change");
    }
  }
};
</script>
