<style lang="scss" scoped></style>

<template>
  <div
    class="wrapper flex flex-col items-center p-5 justify-between min-h-screen max-h-screen"
  >
    <div class="flex flex-row justify-between w-full items-center">
      <b>The Resistance</b>
      <div
        class="text-sm bg-red-200 p-2 items-center rounded flex flex-row items-center text-red-800"
        @click="restart('home')"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
    </div>
    <div class="flex flex-col w-full items-center flex-grow justify-center">
      <p class="text-xl font-bold">{{ players.length }} Players</p>
      <p class="text-sm mb-1" v-if="players.length < 5">
        At least 5 players to start game. Max 10 players.
      </p>
      <div
        class="flex flex-row justify-between w-full mb-5"
        v-if="players.length >= 5"
      >
        <p class="text-lg font-bold text-green-600 mb-1">
          {{ rules.resistance }} Resistance
        </p>
        <p class="text-lg font-bold text-red-600 mb-1">
          {{ rules.spies }} Spies
        </p>
      </div>
      <p class="text-xl font-bold mb-2">Roles</p>
      <div class="flex flex-row justify-between w-full">
        <p
          :class="
            roles.merlin
              ? 'text-xs text-green-600 mb-1 bg-green-200 p-1 rounded'
              : 'text-xs text-green-600 mb-1 bg-gray-200 p-1 rounded'
          "
          @click="toggle('merlin')"
        >
          <i
            :class="roles.merlin ? 'fa fa-minus-circle ' : 'fa fa-plus-circle'"
            aria-hidden="true"
          ></i>
          Merlin
        </p>
        <p
          :class="
            roles.percival
              ? 'text-xs text-green-600 mb-1 bg-green-200 p-1 rounded'
              : 'text-xs text-green-600 mb-1 bg-gray-200 p-1 rounded'
          "
          @click="toggle('percival')"
        >
          <i
            :class="
              roles.percival ? 'fa fa-minus-circle ' : 'fa fa-plus-circle'
            "
            aria-hidden="true"
          ></i>
          Percival
        </p>
        <p
          :class="
            roles.morgana
              ? 'text-xs text-red-600 mb-1 bg-red-200 p-1 rounded'
              : 'text-xs text-red-600 mb-1 bg-gray-200 p-1 rounded'
          "
          @click="toggle('morgana')"
        >
          <i
            :class="roles.morgana ? 'fa fa-minus-circle ' : 'fa fa-plus-circle'"
            aria-hidden="true"
          ></i>
          Morgana
        </p>
        <p
          :class="
            roles.modred
              ? 'text-xs text-red-600 mb-1 bg-red-200 p-1 rounded'
              : 'text-xs text-red-600 mb-1 bg-gray-200 p-1 rounded'
          "
          @click="toggle('modred')"
        >
          <i
            :class="roles.modred ? 'fa fa-minus-circle ' : 'fa fa-plus-circle'"
            aria-hidden="true"
          ></i>
          Modred
        </p>
      </div>
    </div>
    <div class="flex flex-col w-full items-center">
      <p
        class="bg-green-600 p-4 text-white rounded w-full text-center mb-2"
        @click="start"
      >
        Start Game
      </p>
    </div>
    <div class="flex flex-col w-full items-center">
      <p
        class="bg-blue-600 p-4 text-white rounded w-full text-center"
        @click="$router.push('/players')"
      >
        Add Players
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Players",
  components: {},
  created: function() {},
  data: function() {
    return {
      name: ""
    };
  },
  computed: {
    players: function() {
      return this.$store.getters["players/players"];
    },
    rules: function() {
      let rules = this.$store.getters["avalon/rules"];
      let players = rules.players.filter(
        x => x.players === this.players.length
      )[0];
      return players;
    },
    roles: function() {
      return this.$store.getters["avalon/roles"];
    },
    state: function() {
      return this.$store.getters["avalon/state"];
    },
    room: function() {
      return this.$store.getters["players/room"];
    }
  },
  methods: {
    sendUpdate: function() {
      console.log("send update");
      this.$socket.emit("update", { room: this.room, data: this.state });
    },
    sendRoute: function(route) {
      console.log("send route");
      this.$socket.emit("route", { room: this.room, route: route });
    },
    toggle: function(role) {
      this.$store.commit("avalon/role", { role });
      this.sendUpdate();
    },
    add: function() {
      if (this.players.length < 10 && this.name.length > 0) {
        let check = this.players.some(x => x.name === this.name);
        if (check) {
          return;
        }
        this.$store.commit("avalon/players", {
          type: "ADD",
          payload: {
            name: this.name
          }
        });
        this.name = "";
      }
    },
    remove: function(item) {
      this.$store.commit("avalon/players", {
        type: "REMOVE",
        payload: {
          id: item.id
        }
      });
    },
    start: function() {
      this.$store.commit("avalon/shuffle", {
        players: this.$store.getters["players/players"]
      });
      this.$router.push("/avalon/reveal");
      this.sendUpdate();
      this.sendRoute("/avalon/reveal");
    },
    restart: function() {
      this.$router.push("/");
    }
  }
};
</script>
