<style lang="scss" scoped></style>

<template>
  <div
    class="wrapper flex flex-col items-center p-5 justify-center min-h-screen"
  >
    <div class="flex flex-row justify-between w-full items-center">
      <b>The Resistance</b>
      <div
        class="text-sm bg-red-200 p-2 items-center rounded flex flex-row items-center text-red-800"
        @click="restart('home')"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
    </div>
    <div class="flex flex-col w-full flex-grow items-center justify-center">
      <h1 class="text-xl font-bold mb-2">{{ player.name }}</h1>
      <div class="flex flex-col w-full text-center" v-if="!reveal">
        <p class="mb-4">Don't let others see</p>
        <p
          class="bg-blue-600 p-4 text-white rounded font-bold"
          @click="revealRole"
        >
          Reveal Role
        </p>
      </div>
      <div class="flex flex-col w-full text-center" v-if="reveal">
        <div class="mb-4" v-if="player.team === 'resistance'">
          <p>
            You are
            <span class="text-green-500 font-bold">{{
              player.role | ucFirst
            }}</span>
            of
            <span class="text-green-500 font-bold">the Resistance</span>
          </p>
          <p v-if="player.role === 'merlin'">
            The spies are
            <b>{{ merlin }}</b>
          </p>
          <p v-if="player.role === 'percival' && percival.length !== 0">
            <b>{{ percival }}</b> could be Merlin or Morgana
          </p>
        </div>
        <div class="mb-4" v-if="player.team === 'spies'">
          <p>
            You are
            <span class="text-red-500 font-bold">{{
              player.role | ucFirst
            }}</span>
            of
            <span class="text-red-500 font-bold">the Spies</span>
          </p>
          <p>
            The Spies are
            <b>{{ spies }}</b>
          </p>
        </div>
        <p
          class="bg-blue-600 p-4 text-white rounded font-bold"
          v-if="counter === 0"
          @click="next"
        >
          {{
            players.length - 1 === current
              ? "Start Game!"
              : "Tap then pass on to next player"
          }}
        </p>
        <p
          class="bg-gray-600 p-4 text-white rounded font-bold"
          v-if="counter !== 0"
        >
          Please wait for {{ counter }} seconds
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Reveal",
  components: {},
  created: function() {},
  data: function() {
    return {
      current: 0,
      reveal: false,
      counter: 3
    };
  },
  filters: {
    ucFirst: function(lower) {
      const upper = lower.charAt(0).toUpperCase() + lower.substring(1);
      return upper;
    }
  },
  computed: {
    profile: function() {
      return this.$store.getters["players/profile"];
    },
    id: function() {
      return this.$store.getters["players/id"];
    },
    player: function() {
      return this.players[this.current];
    },
    players: function() {
      if (this.profile === "gamemaster") {
        return this.$store.getters["avalon/players"].filter(
          x => x.type === "gamemaster" || x.type === "offline"
        );
      }
      if (this.profile === "online") {
        return this.$store.getters["avalon/players"].filter(
          x => x.type === "online" && x.id === this.id
        );
      }
    },
    merlin: function() {
      let players = this.players.filter(
        x => x.team === "spies" && x.role !== "modred"
      );
      let names = players.map(x => x.name);
      return names.join(", ");
    },
    spies: function() {
      let players = this.players.filter(x => x.team === "spies");
      let names = players.map(x => x.name);
      return names.join(", ");
    },
    percival: function() {
      let players = this.players.filter(
        x =>
          (x.team === "spies" && x.role === "morgana") ||
          (x.team === "resistance" && x.role === "merlin")
      );
      let names = players.map(x => x.name);
      return names.join(", ");
    },
    room: function() {
      return this.$store.getters["players/room"];
    }
  },
  methods: {
    sendUpdate: function() {
      console.log("send update");
      this.$socket.emit("update", { room: this.room, data: this.state });
    },
    sendRoute: function(route) {
      console.log("send route");
      this.$socket.emit("route", { room: this.room, route: route });
    },
    revealRole: function() {
      this.reveal = true;
      let self = this;
      let count = setInterval(x => {
        self.counter -= 1;
        if (self.counter === 0) {
          clearInterval(count);
        }
      }, 1000);
    },
    next: function() {
      if (this.current < this.players.length - 1) {
        this.current += 1;
        this.reveal = false;
        this.counter = 3;
      } else {
        this.$router.push("/avalon/mission");
        this.sendUpdate();
        this.sendRoute("/avalon/mission");
      }
    },
    restart: function(value) {
      if (value === "again") {
        this.$router.push("/avalon");
      }
      if (value === "home") {
        this.$router.push("/");
      }
    }
  }
};
</script>
