<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">End Phase</p>
      </div>
    </div>
    <div
      class="section flex flex-col items-center justify-center flex-grow mb-4"
    >
      <p class="font-bold" v-if="track.result === 'players'">Players Win!</p>
      <p class="font-bold" v-if="track.result === 'spies'">Spies Win!</p>
    </div>
    <div class="section flex flex-col w-full self-end" v-if="isHost">
      <div
        class="btn--join flex flex-col justify-center rounded-20 mb-2"
        @click="playAgain"
      >
        <p>Play Again</p>
      </div>
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="changeGame"
      >
        <p>Different Game</p>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    missions: function() {
      return this.$store.getters["undercover/missions"];
    },
    track: function() {
      return this.$store.getters["undercover/track"];
    },
    current: function() {
      return this.missions[this.track.mission];
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    playAgain: function() {
      this.$store.commit("undercover/reset");
      // this.$router.push("/mode");
      this.$store.commit("base/route", {
        route: "mode"
      });

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "reset",
        id: this.room,
        game: "avalon"
      });
      this.$socket.emit("broadcast", {
        type: "route",
        id: this.room,
        game: "avalon",
        route: "mode"
      });
    },
    changeGame: function() {
      this.$store.commit("undecover/reset");
      // this.$router.push("/room");
      this.$store.commit("base/route", {
        route: "room"
      });
      this.$store.commit("base/game", {
        game: "none"
      });

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "reset",
        id: this.room,
        game: "avalon"
      });
      this.$socket.emit("broadcast", {
        type: "route",
        id: this.room,
        game: "none",
        route: "room"
      });
    }
  }
};
</script>
