<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.avatar {
  height: 25px;
  width: 25px;
  .l--circle {
    border: 1px solid #e6e4e4;
    background: #e6e4e4;
    border-radius: 50%;
    padding: 1px;
  }
  .l--chosen {
    border: 1px solid #66f061;
    background: #e6e4e4;
    padding: 1px;
    border-radius: 50%;
  }
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="secction flex flex-col mb-4">
      <div class="flex flex-row py-2">
        <p class="font-bold text-xl">Guess Phase</p>
      </div>
    </div>
    <div class="section flex flex-col mb-4 flex-grow">
      <div class="flex flex-row py-2">
        <p class="font-bold text-xl">Players</p>
      </div>
      <div
        :class="
          elected === item.id
            ? 'flex flex-row items-center w-12/12 p-2 border border-green-500 rounded mb-1'
            : 'flex flex-row items-center w-12/12 p-2 border border-white mb-1'
        "
        v-for="(item, n) in players"
        :key="n"
        @click="elect(item)"
      >
        <div class="avatar">
          <img class="l--circle" :src="item.avatar" />
        </div>
        <p class="px-2">{{ item.name }}</p>
      </div>
    </div>
    <div class="section flex flex-col w-full self-end" v-if="isHost">
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="guess"
      >
        <p>Guess</p>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    players: function() {
      return this.$store.getters["avalon/players"];
    },
    elected: function() {
      return this.$store.getters["avalon/elected"];
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    elect: function(item) {
      if (this.isHost) {
        this.$store.commit("avalon/guess", {
          type: "ELECT",
          id: item.id
        });

        //Broadcast
        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "elected",
          data: this.$store.getters["avalon/elected"]
        });
      }
    },
    guess: function() {
      this.$store.commit("avalon/guess", {
        type: "GUESS"
      });
      // this.$router.push("/end");
      this.$store.commit("base/route", {
        route: "end"
      });

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "route",
        id: this.room,
        game: "avalon",
        route: "end"
      });

      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "track",
        data: this.$store.getters["avalon/track"]
      });
    }
  }
};
</script>
