<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.mission {
  width: 20%;
  padding: 2px;
  .l--circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    // background: #439ee0;
  }
}
.avatar {
  height: 25px;
  width: 25px;
  .l--circle {
    background: #e6e4e4;
    border-radius: 50%;
    padding: 1px;
  }
  .l--chosen {
    background: #66f061;
    padding: 1px;
    border-radius: 50%;
  }
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Mission Phase</p>
      </div>
    </div>
    <div class="section flex flex-row">
      <div
        class="mission flex flex-col items-center"
        v-for="(item, index) in missions"
        :key="index"
      >
        <div :class="missionClass(item, index)">
          <p class="text-white text-lg font-bold">
            <i class="fa fa-user" aria-hidden="true"></i> {{ item.players }}
          </p>
        </div>
        <p class="text-sm">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          {{ item.fails }}
        </p>
      </div>
    </div>
    <div class="section flex flex-col flex-grow">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Choose Players</p>
      </div>
      <div class="flex flex-row flex-wrap">
        <div
          :class="
            checkVoter(item)
              ? 'flex flex-row items-center w-6/12 p-2 border border-green-500 rounded mb-1'
              : 'flex flex-row items-center w-6/12 p-2 border border-white mb-1'
          "
          v-for="(item, n) in players"
          :key="n"
          @click="addVoter(item)"
        >
          <div class="avatar">
            <img class="l--circle" :src="item.avatar" />
          </div>
          <p class="px-2">{{ item.name }}</p>
        </div>
      </div>
    </div>
    <div class="section flex flex-col">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Instructions</p>
      </div>
      <div class="flex flex-row flex-wrap text-lg">
        <p class="pr-2">Leader</p>
        <div class="avatar">
          <img class="l--circle" :src="leader.avatar" />
        </div>
        <p class="pl-1">
          <b>{{ leader.name }}</b
          >, go on a mission with <b>{{ current.players }} people</b>
        </p>
      </div>
    </div>
    <div class="section flex flex-row w-full self-end" v-if="isLeader">
      <div class="w-8/12 p-2">
        <div
          class="btn--join flex flex-col justify-center rounded-20 font-bold"
          @click="vote"
        >
          <p>Vote</p>
        </div>
      </div>
      <div class="w-4/12 p-2">
        <div
          class="btn--join flex flex-col justify-center rounded-20 font-bold"
          @click="changeLeader"
        >
          <p class="text-xs">Change Leader</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    missions: function() {
      return this.$store.getters["avalon/missions"];
    },
    players: function() {
      return this.$store.getters["avalon/players"];
    },
    track: function() {
      return this.$store.getters["avalon/track"];
    },
    voters: function() {
      return this.$store.getters["avalon/voters"];
    },
    current: function() {
      return this.missions[this.track.mission];
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    leader: function() {
      return this.players[this.track.leader];
    },
    isLeader: function() {
      let leader = this.players[this.track.leader];
      if (this.profile.status === "host") {
        if (leader.status === "host" || leader.status === "offline") {
          return true;
        }
      }
      if (this.profile.status === "participant") {
        console.log(this.profile);
        if (leader.id === this.profile.id) {
          return true;
        }
      }
      return false;
    }
  },
  methods: {
    missionClass: function(mission, index) {
      if (this.track.mission === index) {
        return "l--circle bg-blue-500 flex flex-col items-center justify-center mb-1";
      }
      if (mission.status === "pending") {
        return "l--circle bg-gray-500 flex flex-col items-center justify-center mb-1";
      }
      if (mission.status === "fail") {
        return "l--circle bg-red-500 flex flex-col items-center justify-center mb-1";
      }
      if (mission.status === "succeed") {
        return "l--circle bg-green-500 flex flex-col items-center justify-center mb-1";
      }
    },
    addVoter: function(item) {
      if (this.isLeader) {
        this.$store.commit("avalon/voters", {
          player: item
        });

        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "voters",
          data: this.$store.getters["avalon/voters"]
        });
      }
    },
    checkVoter: function(item) {
      let check = this.voters.some(x => x.id === item.id);
      if (check) {
        return true;
      }
      return false;
    },
    vote: function() {
      if (this.voters.length === this.current.players) {
        // this.$router.push("/vote");
        this.$store.commit("base/route", {
          route: "vote"
        });

        //Broadcast
        this.$socket.emit("broadcast", {
          type: "route",
          id: this.room,
          game: "avalon",
          route: "vote"
        });
      }
    },
    changeLeader: function() {
      this.$store.commit("avalon/changeLeader");

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "track",
        data: this.$store.getters["avalon/track"]
      });
      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "voters",
        data: this.$store.getters["avalon/voters"]
      });
    }
  }
};
</script>
