<style lang="scss" scoped>
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Edit Mode</p>
      </div>
    </div>
    <div class="section flex flex-col flex-grow mb-4">
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Resistance</p>
        <p class="bg-green-600 px-2 py-1 rounded text-white text-xs">
          {{ rules.players.resistance }}
        </p>
      </div>
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Spies</p>
        <p class="bg-red-600 px-2 py-1 rounded text-white text-xs">
          {{ rules.players.spies }}
        </p>
      </div>
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Merlin</p>
        <p @click="toggleRole('merlin')" class="text-xl">
          <i
            v-if="roles.merlin"
            class="fa fa-toggle-on text-green-500"
            aria-hidden="true"
          ></i>
          <i
            v-if="!roles.merlin"
            class="fa fa-toggle-off text-red-500"
            aria-hidden="true"
          ></i>
        </p>
      </div>
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Percival</p>
        <p @click="toggleRole('percival')" class="text-xl">
          <i
            v-if="roles.percival"
            class="fa fa-toggle-on text-green-500"
            aria-hidden="true"
          ></i>
          <i
            v-if="!roles.percival"
            class="fa fa-toggle-off text-red-500"
            aria-hidden="true"
          ></i>
        </p>
      </div>
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Modred</p>
        <p @click="toggleRole('modred')" class="text-xl">
          <i
            v-if="roles.modred"
            class="fa fa-toggle-on text-green-500"
            aria-hidden="true"
          ></i>
          <i
            v-if="!roles.modred"
            class="fa fa-toggle-off text-red-500"
            aria-hidden="true"
          ></i>
        </p>
      </div>
      <div class="flex flex-row justify-between py-2 items-center">
        <p>Morgana</p>
        <p @click="toggleRole('morgana')" class="text-xl">
          <i
            v-if="roles.morgana"
            class="fa fa-toggle-on text-green-500"
            aria-hidden="true"
          ></i>
          <i
            v-if="!roles.morgana"
            class="fa fa-toggle-off text-red-500"
            aria-hidden="true"
          ></i>
        </p>
      </div>
    </div>
    <div class="section flex flex-col w-full self-end" v-if="isHost">
      <div
        class="btn--join flex flex-col justify-center rounded-20 mb-2"
        @click="start"
      >
        <p>Start</p>
      </div>
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="chooseGame"
      >
        <p>Choose Game</p>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    rules: function() {
      return this.$store.getters["avalon/rules"];
    },
    roles: function() {
      return this.$store.getters["avalon/roles"];
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    toggleRole: function(role) {
      if (this.isHost) {
        this.$store.commit("avalon/role", {
          role: role
        });

        //Network
        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          syncType: "roles",
          data: this.$store.getters["avalon/roles"]
        });
      }
    },
    start: function() {
      this.$store.commit("avalon/shuffle");
      // this.$router.push('/reveal')
      this.$store.commit("base/route", {
        route: "reveal"
      });

      //Network
      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "players",
        data: this.$store.getters["avalon/players"]
      });
      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "missions",
        data: this.$store.getters["avalon/missions"]
      });
      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "track",
        data: this.$store.getters["avalon/track"]
      });

      this.$socket.emit("broadcast", {
        type: "route",
        id: this.room,
        game: "avalon",
        route: "reveal"
      });
    },
    chooseGame: function() {
      this.$store.commit("base/game", {
        game: "none"
      });
      this.$store.commit("base/route", {
        route: "game"
      });
    }
  }
};
</script>
