<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Result</p>
      </div>
    </div>
    <div
      class="section flex flex-col items-center justify-center flex-grow mb-4"
    >
      <p class="font-bold" v-if="current.status === 'succeed'">
        Resistance Win!
      </p>
      <p class="font-bold" v-if="current.status === 'fail'">Spies Win!</p>
    </div>
    <div class="section flex flex-col w-full self-end">
      <div
        v-if="isHost"
        class="btn--join flex flex-col justify-center rounded-20 mb-2"
        @click="nextMission"
      >
        <p>Next Mission</p>
      </div>
      <div
        v-if="!isHost"
        class="btn--join flex flex-col justify-center rounded-20 mb-2"        
      >
        <p>Please wait for Host</p>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  sockets: {},
  computed: {
    missions: function() {
      return this.$store.getters["avalon/missions"];
    },
    track: function() {
      return this.$store.getters["avalon/track"];
    },
    current: function() {
      return this.missions[this.track.mission];
    },
    succeed: function() {
      return this.missions.filter(x => x.status === "succeed").length;
    },
    fail: function() {
      return this.missions.filter(x => x.status === "fail").length;
    },
    checkMerlin: function() {
      return this.$store.getters["avalon/roles"].merlin;
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    nextMission: function() {
      if ((this.succeed === 3 || this.fail === 3) && !this.checkMerlin) {
        this.$store.commit("avalon/endGame");
        // this.$router.push("/end");
        this.$store.commit("base/route", {
          route: "end"
        });

        //Broadcast
        this.$socket.emit("broadcast", {
          type: "route",
          id: this.room,
          game: "avalon",
          route: "end"
        });

        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "track",
          data: this.$store.getters["avalon/track"]
        });
        return;
      } else if (this.succeed === 3 && this.checkMerlin) {
        this.$store.commit("avalon/endGame");
        this.$store.commit("base/route", {
          route: "guess"
        });

        //Broadcast
        this.$socket.emit("broadcast", {
          type: "route",
          id: this.room,
          game: "avalon",
          route: "guess"
        });

        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "track",
          data: this.$store.getters["avalon/track"]
        });
        return;
      } else if (this.fail === 3) {
        this.$store.commit("avalon/endGame");
        this.$store.commit("base/route", {
          route: "guess"
        });

        //Broadcast
        this.$socket.emit("broadcast", {
          type: "route",
          id: this.room,
          game: "avalon",
          route: "guess"
        });

        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "track",
          data: this.$store.getters["avalon/track"]
        });
        return;
      } else {
        this.$store.commit("avalon/nextMission");
        // this.$router.push("/mission");
        this.$store.commit("base/route", {
          route: "mission"
        });

        //Broadcast
        this.$socket.emit("broadcast", {
          type: "route",
          id: this.room,
          game: "avalon",
          route: "mission"
        });

        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "votes",
          data: this.$store.getters["avalon/votes"]
        });
        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "voters",
          data: this.$store.getters["avalon/voters"]
        });
        this.$socket.emit("broadcast", {
          type: "sync",
          id: this.room,
          game: "avalon",
          key: "track",
          data: this.$store.getters["avalon/track"]
        });
        return;
      }
    }
  }
};
</script>
