<style lang="scss" scoped>
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.avatar {
  padding: 5px;
  width: 200px;
  height: 200px;
  .l--circle {
    border: 2px solid #bbb;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 50%;
  }
  .l--chosen {
    border: 2px solid #66f061;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 50%;
  }
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-colmb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Reveal Phase</p>
      </div>
    </div>
    <div
      class="section flex flex-col flex-grow mb-4 items-center justify-center"
    >
      <p class="font-bold text-lg">{{ player.name }}</p>
      <div class="avatar mb-4">
        <img class="l--circle" :src="player.avatar" />
      </div>
      <div class="flex flex-col items-center text-center" v-if="!reveal">
        <p>Click Reveal, don't let others see</p>
      </div>
      <div class="flex flex-col items-center text-center" v-if="reveal">
        <!-- Reveal Notes -->
        <div v-if="player.team === 'resistance'">
          <p>Team <b>Resistance</b></p>
          <p>
            Role <b>{{ player.role }}</b>
          </p>
          <p v-if="player.role === 'merlin'">
            The spies are
            <span v-for="(item, index) in forMerlin" :key="index">{{
              item.name
            }}</span>
          </p>
          <p v-if="player.role === 'percival'">
            The Merlin or Morgana are
            <span v-for="(item, index) in forPercival" :key="index">{{
              item.name
            }}</span>
          </p>
        </div>
        <div v-if="player.team === 'spies'">
          <p>Team <b>Spies</b></p>
          <p>
            Role <b>{{ player.role }}</b>
          </p>
          <p>
            Your team mates are
            <span v-for="(item, index) in spies" :key="index"
              >{{ item.name }},
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="section flex flex-col w-full self-end">
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="show"
        v-if="!reveal"
      >
        <p>Reveal</p>
      </div>
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        v-if="counter !== 0 && reveal"
      >
        <p>Please wait for {{ counter }} seconds</p>
      </div>
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="next"
        v-if="counter === 0 && reveal"
      >
        <p v-if="remains">Click and pass phone</p>
        <p v-if="!remains && isHost">Start Game</p>
        <p v-if="!remains && !isHost">Please wait for Host</p>
      </div>
      <p @click="bypass">Bypass</p>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {
      reveal: false,
      count: 0,
      counter: 3
    };
  },
  sockets: {},
  computed: {
    rules: function() {
      return this.$store.getters["avalon/rules"];
    },
    roles: function() {
      return this.$store.getters["avalon/roles"];
    },
    players: function() {
      return this.$store.getters["avalon/players"];
    },
    revealPlayers: function() {
      let players = this.$store.getters["avalon/players"];
      if (this.profile.status === "host") {
        return players.filter(
          x => x.status === "host" || x.status === "offline"
        );
      }
      if (this.profile.status === "participant") {
        console.log(this.profile);
        return players.filter(x => x.id === this.profile.id);
      }
    },
    player: function() {
      return this.revealPlayers[this.count];
    },
    spies: function() {
      return this.players.filter(x => x.team === "spies");
    },
    resistance: function() {
      return this.players.filter(x => x.team === "resistance");
    },
    remains: function() {
      return this.count !== this.revealPlayers.length - 1;
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    },
    forPercival: function() {
      return this.players.filter(
        x => x.role === "merlin" || x.role === "morgana"
      );
    },
    forMerlin: function() {
      return this.players.filter(
        x => x.team === "spies" && x.role !== "modred"
      );
    }
  },
  methods: {
    show: function() {
      this.reveal = true;
      let self = this;
      let count = setInterval(x => {
        self.counter -= 1;
        if (self.counter === 0) {
          clearInterval(count);
        }
      }, 1000);
    },
    next: function() {
      if (this.remains) {
        this.count++;
        this.counter = 3;
        this.reveal = false;
      } else if (!this.remains && this.isHost) {
        // this.$router.push('/mission')
        this.$store.commit("base/route", {
          route: "mission"
        });

        //Broadcast
        this.$socket.emit("broadcast", {
          type: "route",
          id: this.room,
          game: "avalon",
          route: "mission"
        });
      }
    },
    bypass: function() {
      this.$store.commit("base/route", {
        route: "mission"
      });

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "route",
        id: this.room,
        game: "avalon",
        route: "mission"
      });
    }
  }
};
</script>
