<style lang="scss" scoped>
.wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #4392e0;
}
.header {
  height: 60px;
  color: #fff;
  font-size: 20px;
}
.body {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn--create {
  background: #30c162;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 80px;
}
.btn--join {
  background: #4392e0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.avatar {
  background: #e6e4e4;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  padding: 15px;
}
</style>

<template>
  <div class="h-full flex flex-col">
    <div class="section flex flex-col mb-4">
      <div class="flex flex-col py-2">
        <p class="font-bold text-xl">Vote Phase</p>
      </div>
    </div>
    <div
      class="section flex flex-col flex-grow mb-4 items-center justify-center"
      v-if="voted < voters.length"
    >
      <p class="font-bold text-lg">{{ voters[voter].name }}'s Vote</p>
      <div class="flex flex-row">
        <div class="p-2 flex flex-col items-center" @click="setVote('succeed')">
          <div :class="voteClass('succeed')">
            <img src="https://i.imgur.com/80YIRN5.png" />
          </div>
          <p>Succeed</p>
        </div>
        <div class="p-2 flex flex-col items-center" @click="setVote('fail')">
          <div :class="voteClass('fail')">
            <img src="https://i.imgur.com/hEV3smH.png" />
          </div>
          <p>Fail</p>
        </div>
      </div>
    </div>
    <div class="section flex flex-col w-full self-end">
      <p
        class="text-center font-bold"
        v-if="voted >= voters.length && getVotes.total !== current.players"
      >
        Please wait while others still Vote
      </p>
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="sendVote"
        v-if="voted < voters.length"
      >
        <p>Vote</p>
      </div>
      <div
        class="btn--join flex flex-col justify-center rounded-20"
        @click="revealResult"
        v-if="getVotes.total === current.players"
      >
        <p>Reveal Result</p>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "v2",
  components: {},
  created: function() {},
  data: function() {
    return {
      voter: 0,
      vote: "",
      voted: 0
    };
  },
  sockets: {},
  computed: {
    voters: function() {
      let voters = this.$store.getters["avalon/voters"];
      if (this.profile.status === "host") {
        return this.$store.getters["avalon/voters"].filter(
          x => x.status === "host" || x.status === "offline"
        );
      }
      if (this.profile.status === "participant") {
        console.log(this.profile, voters);
        return voters.filter(x => x.id === this.profile.id);
      }
    },
    getVotes: function() {
      return this.$store.getters["avalon/votes"];
    },
    room: function() {
      return this.$store.getters["base/room"];
    },
    profile: function() {
      return this.$store.getters["base/profile"];
    },
    missions: function() {
      return this.$store.getters["avalon/missions"];
    },
    track: function() {
      return this.$store.getters["avalon/track"];
    },
    current: function() {
      return this.missions[this.track.mission];
    },
    isHost: function() {
      return this.profile.status === "host" ? true : false;
    }
  },
  methods: {
    voteClass: function(vote) {
      if (this.vote === vote) {
        return "border border-2 border-green-500 avatar mb-2";
      }
      return "border border-2 border-black avatar mb-2";
    },
    setVote: function(vote) {
      this.vote = vote;
    },
    sendVote: function() {
      if (this.vote !== "") {
        this.$store.commit("avalon/vote", {
          type: "VOTE",
          vote: this.vote
        });
        if (this.profile.status === "participant") {
          this.$socket.emit("feedback", {
            id: this.room,
            syncType: "vote",
            game: "avalon",
            data: this.vote
          });
        }
        this.vote = "";
        this.voter = this.voter + 1;
        this.voted = this.voted + 1;
      }
    },
    revealResult: function() {
      this.$store.commit("avalon/vote", {
        type: "CALCULATE"
      });
      // this.$router.push("/result");
      this.voter = 0;
      this.vote = "";

      this.$store.commit("base/route", {
        route: "result"
      });

      //Broadcast
      this.$socket.emit("broadcast", {
        type: "route",
        id: this.room,
        game: "avalon",
        route: "result"
      });
      this.$socket.emit("broadcast", {
        type: "sync",
        id: this.room,
        game: "avalon",
        key: "missions",
        data: this.missions
      });
    }
  }
};
</script>
