<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: #222;
}
.sweet-modal {
  @media screen and (max-width: 800px) {
    background: rgba(255, 255, 255, 0) !important;
  }
}
.sweet-modal-overlay {
  @media screen and (max-width: 800px) {
    background: rgba(255, 255, 255, 0.8) !important;
  }
}
.sweet-content {
  height: 100%;
  padding: 20px !important;
}
.sweet-content-content {
  height: 100%;
}
input:focus {
  outline: none;
}
</style>

<template>
  <div id="app" class="h-screen overflow-y-scroll">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  sockets: {
    startGame: function(game) {},
    updateGame: function(packet) {},
    routeGame: function(packet) {}
  },
  computed: {
    profile: function() {
      return this.$store.getters["players/profile"];
    }
  }
};
</script>
